<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{views/baseLayout/mainLayout}">

<head>
	<title>เพิ่มบริการ</title>
	<script th:src="@{/js/ussd/os1004.js}" src="os1004.js"></script>
</head>

<body>
	<div layout:fragment="content">

		<ol class="breadcrumb" style="background-color: white;">
			<li class="active">
				<a href="#"> USSD </a>
			</li>
			<li class="active">เพิ่มบริการ
			</li>
		</ol>

		<section class="card">
			<header class="card-header card-header-lg"> เพิ่มบริการ </header>

			<div class="card-block" style="padding-left: 20%; padding-right: 20%;">

				<form id="ussdForm" th:Obj th:action="@{/ussd/os1004/edit}" method="post" th:object="${ussd}">
					<input type="hidden" th:field="${ussd.id}">

					<div class="form-group row">
						<label class="col-sm-4 form-control-label">รหัสบริการ
							<span class="require">*</span>
						</label>
						<div class="col-sm-8">

							<input type="text" class="form-control" maxlength="25" th:field="${ussd.serviceId}" th:disabled="${ussd.id != null}">
							<input type="hidden" th:field="${ussd.serviceId}" th:if="${ussd.id != null}">

						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-4 form-control-label">ชื่อบริการ
							<span class="require">*</span>
						</label>
						<div class="col-sm-8">

							<input type="text" class="form-control" maxlength="255" th:field="${ussd.serviceName}">

						</div>
					</div>

					<div class="form-group row" th:if="${ussd.id == null}">
						<label class="col-sm-4 form-control-label">สถานะเปิด/ปิด
							<span class="require">*</span>
						</label>
						<div class="col-sm-4">

							<p class="form-control-static">
								<select class="form-control" th:field="${ussd.currentStatus}">
									<option value="">-- select --</option>
									<option value="1">เปิด</option>
									<option value="0">ปิด</option>
								</select>
							</p>

						</div>
					</div>

					<div class="form-group row">
						<div class="col-sm-12 text-center">
							<button type="button" class="btn btn-inline btn-primary" onclick="OS1004.onClickSave();">บันทึก</button>

							<a href="#" th:href="@{/ussd/os1001/init}" class="btn btn-inline btn-default">ยกเลิก</a>

						</div>
					</div>
				</form>
			</div>
		</section>

	</div>
</body>

</html>