<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{views/baseLayout/mainLayout}">

<head>
	<title>แสดงการตั้งค่าเวลา</title>
	<script th:src="@{/theme/js/lib/datatables-net/datatables.min.js}" src="theme/js/lib/datatables-net/datatables.min.js"></script>
	<script th:src="@{/js/ussd/os1005.js}" src="os1005.js"></script>
</head>

<body>
	<div layout:fragment="content">

		<ol class="breadcrumb" style="background-color: white;">
			<li class="active">
				<a href="#"> USSD </a>
			</li>
			<li class="active"> 
				<a href="#"> แสดงรายการบริการ USSD </a>
			</li>
			<li class="active"> แสดงรายการการตั้งค่าเปิด/ปิด บริการ USSD </li>
		</ol>
		
		<form id="mainForm" method="POST" action="#" style="display: none;">
			<input id="ussdId" type="hidden" th:field="${ussd.id}">
		</form>
		
		<section class="card">
			<header class="card-header card-header-lg">
				รายการการตั้งค่าเปิด/ปิด บริการ USSD
			</header>
			<div class="card-block">
				<table id="ussdTimerTable" class="display table table-striped table-bordered" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th class="text-center">No.</th>
							<th class="text-center">รหัสบริการ</th>
							<th class="text-center">ชื่อบริการ</th>
							<th class="text-center">ผู้ที่ทำรายการ</th>
							<th class="text-center">อีเมล์</th>
							<th class="text-center">สถานะ</th>
							<th class="text-center">ตั้งค่าเปิด/ปิด</th>
							<th class="text-center" style="width: 120px;">ยกเลิกการตั้งค่า</th>
							<th class="text-center" style="width: 65px;">แก้ไข</th>
						</tr>
					</thead>
				</table>

				<div class="form-group row">
					<div class="col-sm-12 text-center">
						<a href="#" th:href="@{/ussd/os1001/init}" class="btn btn-inline btn-default">ย้อนกลับ</a>
					</div>
				</div>
			</div>
		</section>

	</div>
</body>

</html>