<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{views/baseLayout/mainLayout}">

<head>
	<title>แสดงประวัติการ ตั้งเวลา/เปิด/ปิด บริการ USSD</title>
	<script th:src="@{/theme/js/lib/datatables-net/datatables.min.js}" src="theme/js/lib/datatables-net/datatables.min.js"></script>
	<link rel="stylesheet" th:href="@{/jquery-ui-1.12.1.custom/jquery-ui.min.css}" href="/jquery-ui-1.12.1.custom/jquery-ui.min.css"></link>
	<script src="jquery-ui-1.12.1.custom/jquery-ui.min.js" th:src="@{/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
	<script th:src="@{/js/ussd/os1003.js}" src="os1003.js"></script>
</head>

<body>
	<div layout:fragment="content">

		<ol class="breadcrumb" style="background-color: white;">
			<li class="active">
				<a href="#"> USSD </a>
			</li>
			<li class="active">แสดงประวัติการ ตั้งเวลา/เปิด/ปิด บริการ USSD
			</li>
		</ol>

		<section class="card">
			<header class="card-header card-header-lg">
				ระบุเงื่อนไขในการค้นหา </header>
			<div class="card-block" style="padding-left: 20%; padding-right: 20%;">
				<form>
					<div class="form-group row">
						<label class="col-sm-2 form-control-label">วันที่</label>
						<div class="col-sm-4">
							<div class="input-group">
								<input type="text" class="form-control" id="inputDateFrom" th:field="${ussd.dateFrom}" onchange="OS1003.onChangeDateFrom();">
								<div class="input-group-addon">
									<span class="fa fa-calendar"></span>
								</div>
							</div>
						</div>
						<label class="col-sm-2 form-control-label">ถึง</label>
						<div class="col-sm-4">
							<div class="input-group">
								<input type="text" class="form-control" id="inputDateTo" th:field="${ussd.dateTo}" onchange="OS1003.onChangeDateTo();">
								<div class="input-group-addon">
									<span class="fa fa-calendar"></span>
								</div>
							</div>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 form-control-label">ผู้ดำเนินการ</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" th:field="${ussd.logBy}">
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 form-control-label">ชื่อบริการ</label>
						<div class="col-sm-4">
							<p class="form-control-static">
								<select class="select2-arrow" th:field="${ussd.serviceId}">
									<option value="">All</option>
									<option th:each="serviceStatus : ${serviceStatus}" th:value="${serviceStatus.serviceId}" th:text="${serviceStatus.serviceName}">TEXT</option>
								</select>

							</p>
						</div>

						<label class="col-sm-2 form-control-label">ผลการดำเนินการ</label>
						<div class="col-md-4">
							<p class="form-control-static">
								<select class="select2-arrow" th:field="${ussd.status}">
									<option value="">All</option>
									<option th:each="logStatus : ${logStatus}" th:value="${logStatus}" th:text="${logStatus}">TEXT</option>
								</select>
							</p>
						</div>

					</div>

					<div class="form-group row">
						<div class="col-sm-12 text-center">
							<button type="button" class="btn btn-inline btn-primary" onclick="OS1003.onClickSearch();">ค้นหา</button>

							<button type="button" class="btn btn-inline btn-default" onclick="OS1003.onClickClearData();">ล้างข้อมูล</button>
						</div>
					</div>
				</form>
			</div>
		</section>

		<section class="card">
			<header class="card-header card-header-lg"> ผลการค้นหา </header>
			<div class="card-block">

				<table id="ussdAuditTable" class="display table table-striped table-bordered" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th class="text-center">วันเวลาที่ทำรายการ</th>
							<th class="text-center">ผู้ดำเนินการ</th>
							<th class="text-center">รหัสบริการ</th>
							<th class="text-center">ชื่อบริการ</th>
							<th class="text-center">ตั้งค่าเปิด/ปิด</th>
							<th class="text-center">สถานะ</th>
							<th class="text-center">ผลการดำเนินการ</th>
						</tr>
					</thead>
				</table>

			</div>
		</section>

	</div>
</body>

</html>