<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{views/baseLayout/mainLayout}">

<head>
	<title>แสดงรายการบริการ USSD</title>
	<script th:src="@{/theme/js/lib/datatables-net/datatables.min.js}" src="theme/js/lib/datatables-net/datatables.min.js"></script>
	<script th:src="@{/js/ussd/os1001.js}" src="os1001.js"></script>
</head>

<body>
	<div layout:fragment="content">

		<ol class="breadcrumb" style="background-color: white;">
			<li class="active">
				<a href="#"> USSD </a>
			</li>
			<li class="active"> แสดงรายการบริการ USSD </li>
		</ol>

		<section class="card">
			<header class="card-header card-header-lg">
				ระบุเงื่อนไขในการค้นหา </header>
			<div class="card-block" style="padding-left: 30%; padding-right: 30%;">
				<form id="mainForm" method="POST" action="#">

					<input type="hidden" th:field="${ussd.id}">

					<div class="form-group row">
						<label class="col-sm-4 form-control-label">รหัสบริการ</label>
						<div class="col-sm-8">

							<input type="text" class="form-control" th:field="${ussd.serviceId}">

						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-4 form-control-label">ชื่อบริการ</label>
						<div class="col-sm-8">

							<input type="text" class="form-control" th:field="${ussd.serviceName}">

						</div>
					</div>


					<div class="form-group row">
						<div class="col-sm-12 text-center">
							<a href="#" th:href="@{/ussd/os1004/new}" class="btn btn-inline btn-primary">เพิ่มบริการ</a>
							<button type="button" class="btn btn-inline btn-primary" onclick="OS1001.onClickSearch();">ค้นหา</button>
							<button type="button" class="btn btn-inline btn-default" onclick="OS1001.onClickClearData();">ล้างข้อมูล</button>
						</div>
					</div>

				</form>
			</div>
		</section>

		<section class="card">
			<header class="card-header card-header-lg">
				แสดงรายการบริการ USSD
			</header>
			<div class="card-block">

				<table id="ussdTable" class="display table table-striped table-bordered" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th class="text-center">No.</th>
							<th class="text-center">รหัสบริการ</th>
							<th class="text-center">ชื่อบริการ</th>
							<th class="text-center">ผู้ที่ทำรายการ</th>
							<th class="text-center">สถานะ</th>
							<th class="text-center">ตั้งค่าเปิด/ปิด</th>
							<th class="text-center" style="width: 230px;">เปิด/ปิด</th>
							<th class="text-center" style="width: 150px;">แก้ไข/ลบ</th>
						</tr>
					</thead>
				</table>


			</div>
		</section>

	</div>
</body>

</html>