<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{views/baseLayout/mainLayout}">

<head>
	<title>ตั้งค่าเปิด/ปิด บริการ USSD</title>
	<script th:src="@{/theme/js/lib/datatables-net/datatables.min.js}" src="theme/js/lib/datatables-net/datatables.min.js"></script>
	<link rel="stylesheet" th:href="@{/jquery-ui-1.12.1.custom/jquery-ui.min.css}" href="/jquery-ui-1.12.1.custom/jquery-ui.min.css"></link>
	<script src="jquery-ui-1.12.1.custom/jquery-ui.min.js" th:src="@{/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
	<script th:src="@{/js/ussd/os1002.js}" src="os1002.js"></script>
</head>

<body>
	<div layout:fragment="content">

		<ol class="breadcrumb" style="background-color: white;">
			<li class="active">
				<a href="#" th:href="@{/ussd/os1001/init}"> USSD </a>
			</li>
			<li class="active"> ตั้งค่าเปิด/ปิด บริการ USSD </li>
		</ol>
		<section class="card">
			<header class="card-header card-header-lg">
				ตั้งค่าเปิด/ปิด บริการ USSD
			</header>
			<div class="card-block" style="padding-left: 5%;">

				<form id="ussdEdit" th:Obj th:action="@{/ussd/os1002/edit}" method="post" th:object="${ussd}">
					<input type="hidden" th:field="${ussd.serviceId}">
					<input type="hidden" th:field="${ussd.modBatchConfig}">

					<div class="form-group row">
						<label class="col-sm-2 form-control-label">สถานะ</label>
						<div class="col-sm-2">

							<select class="form-control" th:field="${ussd.currentStatus}">
								<option value="">-- select --</option>
								<option value="0">ปิด</option>
								<option value="1">เปิด</option>
							</select>

							<input type="hidden" id="oldStatus" name="oldStatus" th:value="${ussd.currentStatus}">
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-5">
							<div class="checkbox">
								<input type="checkbox" id="checkonoff" th:checked="${#strings.equals(ussd.modBatchConfig, 'ON')}" onchange="OS1002.onChangeConfig(this);">
								<label for="checkonoff">ตั้งค่า วันที่และเวลา</label>
							</div>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 form-control-label"> วันที่
							<span class="require">*</span>
						</label>
						<div class="col-sm-3">

							<div class="input-group">
								<input type="text" class="form-control" id="inputDate" placeholder="dd/mm/yyyy" th:field="${ussd.displayDate}" th:disabled="${#strings.equals(ussd.modBatchConfig, 'OFF')}">
								<div class="input-group-addon">
									<span class="fa fa-calendar"></span>
								</div>
							</div>

						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 form-control-label">เวลา
							<span class="require">*</span>
						</label>
						<div class="col-sm-3">


							<div class="col-md-6" style="margin-left:-15px;">
								<p class="form-control-static">
									<select class="form-control time-picker" th:field="${ussd.displayHH}" th:disabled="${#strings.equals(ussd.modBatchConfig, 'OFF')}">
										<option value="">ชั่วโมง</option>
										<option th:each="type : ${hhdropdown}" th:value="${type}" th:text="${type}">TEXT</option>
									</select>

								</p>
							</div>

							<label class="col-sm-1 form-control-label" style="width: 20px;">:</label>
							<div class="col-md-5">
								<p class="form-control-static">
									<select class="form-control time-picker" th:field="${ussd.displayMM}" th:disabled="${#strings.equals(ussd.modBatchConfig, 'OFF')}">
										<option value="">นาที</option>
										<option th:each="type : ${mmdropdown}" th:value="${type}" th:text="${type}">TEXT</option>
									</select>
								</p>
							</div>


						</div>

					</div>

					<div class="form-group row">
						<label class="col-sm-2 form-control-label">อีเมล</label>
						<div class="col-sm-3">
							<p class="form-control-static">
								<input type="text" class="form-control" placeholder="" th:field="${ussd.email}" th:disabled="${#strings.equals(ussd.modBatchConfig, 'OFF')}">
							</p>
						</div>
					</div>

					<div class="form-group row">
						<div class="col-sm-12 text-center">

							<button type="button" onclick="OS1002.onFormSubmit();" class="btn btn-inline btn-primary">บันทึก</button>
							<a href="#" th:href="@{/ussd/os1001/init}" class="btn btn-inline btn-default">ยกเลิก</a>

						</div>
					</div>
				</form>

			</div>
		</section>

	</div>
</body>

</html>