<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{views/baseLayout/mainLayout}">

<head>
	<title>PrompyPay > เพิ่ม Shared key</title>
	
	<script th:src="@{/theme/js/lib/moment/moment.min.js}" src="theme/js/lib/moment/moment.min.js"></script>
	<script th:src="@{/theme/js/lib/eonasdan-bootstrap-datetimepicker/bootstrap-datetimepicker.min.js}" src="theme/js/lib/eonasdan-bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
<!-- 	<script type="text/javascript" th:src="@{/theme/js/lib/fullcalendar/fullcalendar.min.js}" src="theme/js/lib/fullcalendar/fullcalendar.min.js"></script> -->
<!-- 	<script th:src="@{/theme/js/lib/fullcalendar/fullcalendar-init.js}" src="theme/js/lib/fullcalendar/fullcalendar-init.js"></script> -->
<!-- 	<script th:src="@{/theme/js/lib/plugins.js}" src="theme/js/lib/plugins.js"></script> -->

	<script th:src="@{/theme/js/lib/datatables-net/datatables.min.js}" src="theme/js/lib/datatables-net/datatables.min.js"></script>
	<link rel="stylesheet" th:href="@{/jquery-ui-1.12.1.custom/jquery-ui.min.css}" href="/jquery-ui-1.12.1.custom/jquery-ui.min.css"></link>
	<script src="jquery-ui-1.12.1.custom/jquery-ui.min.js" th:src="@{/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
	
	<script th:src="@{/js/ussd/PP1003.js}" src="PP1003.js"></script>	
</head>

<body>
	<div layout:fragment="content">

		<ol class="breadcrumb" style="background-color: white;">
			<li class="active">
				<a href="#"> PromptPay </a>
			</li>
			<li class="active">
				<a href="#"> Reference Code </a>
			</li>
			<li class="active">เพิ่ม Shared keys
			</li>
		</ol>

		<section class="card">
			<header class="card-header card-header-lg"> เพิ่ม Shared key </header>

			<div class="card-block" style="padding-left: 20%; padding-right: 20%;">

				<form id="refcodeForm" th:Obj th:action="@{/promptpay/refcode/edit}" method="post" th:object="${refCodeVo}">
					<input type="hidden" th:field="${refCodeVo.id}">
					<div class="form-group row">
						<label class="col-sm-3 form-control-label">วันที่
							<span class="require">*</span>
						</label>
						<div class="col-sm-4">
							<div class="input-group">
								<input type="text" class="form-control" id="inputDateFrom" th:field="${refCodeVo.dateFrom}" onchange="PP1003.onChangeDateFrom();">
								<div class="input-group-addon">
									<span class="fa fa-calendar"></span>
								</div>
							</div>
						</div>
						<label class="text-center col-sm-1 form-control-label">ถึง</label>
						<div class="col-sm-4">
							<div class="input-group">
								<input type="text" class="form-control" id="inputDateTo" th:field="${refCodeVo.dateTo}" onchange="PP1003.onChangeDateTo();">
								<div class="input-group-addon">
									<span class="fa fa-calendar"></span>
								</div>
							</div>
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-3 form-control-label">Shared key
							<span class="require">*</span>
						</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" maxlength="25" th:field="${refCodeVo.sharedKey}">
						</div>
					</div>

					<div class="form-group row" ><!-- th:if="${ussd.id == null}" -->
						<label class="col-sm-3 form-control-label">สถานะ
							<span class="require">*</span>
						</label>
						<div class="col-sm-4">

							<p class="form-control-static">
								<select class="form-control" th:field="${refCodeVo.status}">
									<option value="">-- Select --</option>
									<option value="ACTIVE">เปิด</option>
									<option value="INACTIVE">ปิด</option>
									<option value="PENDING">รอเปิดใช้งาน</option>
								</select>
							</p>

						</div>
					</div>
					
<!-- 					<div class="form-group row" > -->
<!-- 						<div class="col-sm-3"> -->
<!-- 							<div class="input-group bootstrap-timepicker timepicker"> -->
<!-- 					            <input id="times" type="text" class="form-control input-small" data-date-format="dd/MM/yyyy HH:ss"> -->
<!-- 					            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span> -->
<!-- 					        </div> -->
<!-- 						</div> -->
<!-- 		            </div> -->

					<div class="form-group row">
						<div class="col-sm-12 text-center">
							<button type="button" class="btn btn-inline btn-primary" onclick="PP1003.onClickSave();">บันทึก</button>
							<a href="#" th:href="@{/promptpay/refcode/init}" class="btn btn-inline btn-default">ยกเลิก</a>
						</div>
					</div>
				</form>
			</div>
		</section>
	</div>
</body>
</html>