<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{views/baseLayout/mainLayout}">

<head>
	<title>Consent Report</title>
	<script th:src="@{/theme/js/lib/datatables-net/datatables.min.js}" src="theme/js/lib/datatables-net/datatables.min.js"></script>
	<link rel="stylesheet" th:href="@{/jquery-ui-1.12.1.custom/jquery-ui.min.css}" href="/jquery-ui-1.12.1.custom/jquery-ui.min.css"></link>
	<script src="jquery-ui-1.12.1.custom/jquery-ui.min.js" th:src="@{/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
	<script th:src="@{/js/ussd/PP1001.js}" src="PP1001.js"></script>
</head>

<body>
	<div layout:fragment="content">

		<ol class="breadcrumb" style="background-color: white;">
<!-- 			<li class="active"> -->
<!-- 				<a href="#"> USSD </a> -->
<!-- 			</li> -->
			<li class="active">
				<a href="#"> PromptPay </a>
			</li>
			<li class="active">Report
			</li>
		</ol>

		<section class="card">
			<header class="card-header card-header-lg">
				ระบุเงื่อนไขในการค้นหา </header>
			<div class="card-block" style="padding-left: 20%; padding-right: 20%;">
				<form>
					<div class="form-group row">
						<label class="col-sm-2 form-control-label">วันที่</label>
						<div class="col-sm-4">
							<div class="input-group">
								<input type="text" class="form-control" id="inputDateFrom" th:field="${consent.dateFrom}" onchange="PP1001.onChangeDateFrom();">
								<div class="input-group-addon">
									<span class="fa fa-calendar"></span>
								</div>
							</div>
						</div>
						<label class="col-sm-2 form-control-label">ถึง</label>
						<div class="col-sm-4">
							<div class="input-group">
								<input type="text" class="form-control" id="inputDateTo" th:field="${consent.dateTo}" onchange="PP1001.onChangeDateTo();">
								<div class="input-group-addon">
									<span class="fa fa-calendar"></span>
								</div>
							</div>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 form-control-label">หมายเลขโทรศัพท์</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" th:field="${consent.msisdn}">
						</div>
						<label class="col-sm-2 form-control-label">ผลการดำเนินการ</label>
						<div class="col-md-4">
							<p class="form-control-static">
<!-- 							select2-arrow -->
								<select class="form-control" th:field="${consent.status}">
									<option value="">All</option>
									<option value="SUCCESS">สำเร็จ</option>
									<option value="ERROR">ไม่สำเร็จ</option>
								</select>
							</p>
						</div>
					</div>

					<div class="form-group row">
						<div class="col-sm-12 text-center">
							<button type="button" class="btn btn-inline btn-primary" onclick="PP1001.onClickSearch();">ค้นหา</button>

							<button type="button" class="btn btn-inline btn-default" onclick="PP1001.onClickClearData();">ล้างข้อมูล</button>
						</div>
					</div>
				</form>
			</div>
		</section>

		<section class="card">
			<header class="card-header card-header-lg"> ผลการค้นหา </header>
			<div class="card-block">

				<table id="promptpayConsentTable" class="display table table-striped table-bordered" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th class="text-center">No.</th>
							<th class="text-center">หมายเลขโทรศัพท์</th>
							<th class="text-center">เลขบัตรประชาชน</th>
							<th class="text-center">สถานะ</th>
							<th class="text-center">รายละเอียด</th>
							<th class="text-center">ผู้ดำเนินการ</th>
							<th class="text-center">วันเวลาที่ทำรายการ</th>
						</tr>
					</thead>
				</table>

			</div>
		</section>

	</div>
</body>

</html>