<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{views/baseLayout/mainLayout}">

<head>
	<title>PromptPay > Reference Code</title>
	<script th:src="@{/theme/js/lib/datatables-net/datatables.min.js}" src="theme/js/lib/datatables-net/datatables.min.js"></script>
	<link rel="stylesheet" th:href="@{/jquery-ui-1.12.1.custom/jquery-ui.min.css}" href="/jquery-ui-1.12.1.custom/jquery-ui.min.css"></link>
	<script src="jquery-ui-1.12.1.custom/jquery-ui.min.js" th:src="@{/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
	<script th:src="@{/js/ussd/PP1002.js}" src="PP1002.js"></script>
	
	<!-- Toggle Switch -->
  <link rel="stylesheet" th:href="@{/theme/js/lib/toggle/toggle-switch.css}" href="/theme/js/lib/toggle/toggle-switch.css"></link>
	<style>
	.bgActive {
	    background-color: #99ff66;
	}
	</style>
</head>

<body>
	<div layout:fragment="content">

		<ol class="breadcrumb" style="background-color: white;">
<!-- 			<li class="active"> -->
<!-- 				<a href="#"> USSD </a> -->
<!-- 			</li> -->
			<li class="active">
				<a href="#"> PromptPay </a>
			</li>
			<li class="active">Reference Code
			</li>
		</ol>

		<section class="card">
			<header class="card-header card-header-lg">
				ระบุเงื่อนไขในการค้นหา </header>
			<div class="card-block" style="padding-left: 20%; padding-right: 20%;">
				<form id="mainForm" method="POST" action="#">
					<input type="hidden" th:field="${refCode.id}">
					<div class="form-group row">
						<label class="col-sm-2 form-control-label">วันที่</label>
						<div class="col-sm-4">
							<div class="input-group">
								<input type="text" class="form-control" id="inputDateFrom" th:field="${refCode.dateFrom}" onchange="PP1002.onChangeDateFrom();">
								<div class="input-group-addon">
									<span class="fa fa-calendar"></span>
								</div>
							</div>
						</div>
						<label class="col-sm-2 form-control-label">ถึง</label>
						<div class="col-sm-4">
							<div class="input-group">
								<input type="text" class="form-control" id="inputDateTo" th:field="${refCode.dateTo}" onchange="PP1002.onChangeDateTo();">
								<div class="input-group-addon">
									<span class="fa fa-calendar"></span>
								</div>
							</div>
						</div>
					</div>

					<div class="form-group row">
<!-- 						<label class="col-sm-2 form-control-label">หมายเลขโทรศัพท์</label> -->
<!-- 						<div class="col-sm-4"> -->
<!-- 							<input type="text" class="form-control" th:field="${consent.msisdn}"> -->
<!-- 						</div> -->
						<label class="col-sm-2 form-control-label">สถานะ</label>
						<div class="col-md-4">
							<p class="form-control-static">
<!-- 							select2-arrow -->
								<select class="form-control" th:field="${refCode.status}">
									<option value="">-- select --</option>
									<option value="ACTIVE">เปิด</option>
									<option value="INACTIVE">ปิด</option>
									<option value="PENDING">รอเปิดใช้งาน</option>
								</select>
							</p>
						</div>
					</div>

					<div class="form-group row">
						<div class="col-sm-12 text-center">
							<a href="#" th:href="@{/promptpay/refcode/new}" class="btn btn-inline btn-primary">เพิ่ม Shared key</a>
							<button type="button" class="btn btn-inline btn-primary" onclick="PP1002.onClickSearch();">ค้นหา</button>
							<button type="button" class="btn btn-inline btn-default" onclick="PP1002.onClickClearData();">ล้างข้อมูล</button>
						</div>
					</div>
				</form>
			</div>
		</section>
		<input type="hidden" id="statusUpdate"/>
		<section class="card">
			<header class="card-header card-header-lg"> ผลการค้นหา </header>
			<div class="card-block">
				<table id="promptpayRefCodeTable" class="display table table-striped table-bordered" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th class="text-center">No.</th>
							<th class="text-center">Shared Key</th>
							<th class="text-center">วันที่เริ่มต้น</th>
							<th class="text-center">วันที่สิ้นสุด</th>
							<th class="text-center" style="width: 300px;">สถานะ</th>
							<th class="text-center">ผู้ดำเนินการ</th>
							<th class="text-center" style="width: 150px;">แก้ไข/ลบ</th>
						</tr>
					</thead>
				</table>

			</div>
		</section>

	</div>
</body>

</html>