<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{views/baseLayout/mainLayout}">

<head>
	<title>แสดงรายการบริการ USSD</title>
	<script th:src="@{/theme/js/lib/datatables-net/datatables.min.js}" src="theme/js/lib/datatables-net/datatables.min.js"></script>
	<script th:src="@{/js/omudb/omudb3002.js}" src="omudb3002.js"></script>
</head>

<body>
	<div layout:fragment="content">

		<ol class="breadcrumb" style="background-color: white;">
			<li class="active">
				<a href="#"> Order Management </a>
			</li>
			<li class="active" th:if="${omUserFormVo.isNew}"> เพิ่ม ผู้ใช้งานระบบ </li>
			<li class="active" th:if="${not omUserFormVo.isNew}"> เเก้ไข ผู้ใช้งานระบบ </li>
		</ol>

		<section class="card">
			<header class="card-header card-header-lg" th:if="${omUserFormVo.isNew}">เพิ่มผู้ใช้งานระบบ</header>
			<header class="card-header card-header-lg" th:if="${not omUserFormVo.isNew}">เเก้ไขข้อมูลผู้ใช้งานระบบ</header>
			<div class="card-block" style="padding-left: 25%;">
				<form id="mainForm" method="POST" action="#" th:action="@{/omudb/usermgr/omudb3002/edit}">
					<input type="hidden" th:field="${omUserFormVo.isNew}">
					<input type="hidden" th:field="${omUserFormVo.agentId}">
					<input type="hidden" th:field="${omUserFormVo.actionType}">
					<input type="hidden" th:field="${omUserFormVo.currentDelGroup}">


					<div class="form-group row">
						<label class="col-sm-2 form-control-label">ชื่อ
							<span class="require">*</span>
						</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" maxlength="200" th:field="${omUserFormVo.firstName}">
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 form-control-label">สกุล
							<span class="require">*</span>
						</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" maxlength="200" th:field="${omUserFormVo.lastName}">
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 form-control-label">รหัสพนักงาน /
							<br>รหัสบัตรประชาชน
							<span class="require">*</span>
						</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" maxlength="13" th:field="${omUserFormVo.empId}">
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 form-control-label">Username
							<span class="require">*</span>
						</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" maxlength="255" th:field="${omUserFormVo.userName}" th:disabled="${not omUserFormVo.isNew}">
							<input type="hidden" th:field="${omUserFormVo.userName}" th:if="${not omUserFormVo.isNew}">
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 form-control-label">Password
							<span class="require" th:if="${omUserFormVo.isNew}" >*</span>
						</label>
						<div class="col-sm-4">
							<input type="password" class="form-control" maxlength="25" th:field="${omUserFormVo.password}">
						</div>

						<label class="col-sm-6 form-control-label" th:if="${not omUserFormVo.isNew}">
							<span class="require">*โปรดระบุ ในกรณีที่ต้องการแก้ไข</span>
						</label>

					</div>

					<div class="form-group row">
						<label class="col-sm-2 form-control-label">ส่วน
							<span class="require">*</span>
						</label>
						<div class="col-sm-4">
							<select class="form-control" th:field="${omUserFormVo.territoryAgent}">
								<option value="">--select--</option>
								<option th:each="item : ${dropdown}" th:value="${item.eTerritoryId}" th:text="${item.description}">TEXT</option>
							</select>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 form-control-label">สิทธิ์</label>
						<div class="col-sm-4">
							l_Sales_Back_Date_NEW
							<br> l_Sales_Back_Date_OTHERS
							<br> l_Sales_CA_BA
							<br> l_Sales_Order
							<br> l_Sales_Report
							<br>

							<div th:each="item,iterStat : ${omUserFormVo.groupAdd}" th:value="${item}">
								<span th:text="${item}"></span>
								<i class="fa fa-trash" aria-hidden="true" style="cursor: pointer;color: red;" onclick="omudb3002.onClickDelGroup(this)"></i>
								<input type="hidden" th:name="${'groupAdd[' + iterStat.index + ']'}" th:value="${item}" />
							</div>

							<input type="hidden" th:each="item,iterStat : ${omUserFormVo.groupTempInLdap}" th:name="${'groupTempInLdap[' + iterStat.index + ']'}"
							 th:value="${item}" />
							<br>
							<input type="hidden" th:each="item,iterStat : ${omUserFormVo.groupDel}" th:name="${'groupDel[' + iterStat.index + ']'}" th:value="${item}"
							/>


						</div>

					</div>

					<div class="form-group row">
						<label class="col-sm-2 form-control-label"></label>
						<div class="col-sm-4">

							<select class="form-control" th:field="${omUserFormVo.currentAddGroup}">
								<option value="">--select--</option>
								<option th:each="item : ${groupLdap}" th:value="${item}" th:text="${item}">TEXT</option>
							</select>


						</div>
						<div class="col-sm-6">
							<button type="button" class="btn btn-inline btn-primary" onclick="omudb3002.onClickAddGroup()">เพิ่มสิทธิ์</button>
						</div>
					</div>


					<div class="form-group row">
						<div class="col-sm-8 text-center">
							<button type="button" class="btn btn-inline btn-primary" onclick="omudb3002.onClickSubmit()">บันทึก</button>
							<button type="button" class="btn btn-inline btn-default" onclick="omudb3002.onClickBack()">ยกเลิก</button>
						</div>
					</div>

				</form>
			</div>
		</section>


	</div>
</body>

</html>