<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{views/baseLayout/mainLayout}">

<head>
	<title>แสดงรายการบริการ USSD</title>
	<script th:src="@{/theme/js/lib/datatables-net/datatables.min.js}" src="theme/js/lib/datatables-net/datatables.min.js"></script>
	<script th:src="@{/js/omudb/omudb2002.js}" src="omudb2002.js"></script>
</head>

<body>
	<div layout:fragment="content">

		<ol class="breadcrumb" style="background-color: white;">
			<li class="active">
				<a href="#"> Order Management </a>
			</li>
			<li class="active"> ข้ามสถานะใบรายการสั่งซื้อ </li>
		</ol>

		<section class="card">
			<header class="card-header card-header-lg"> ข้ามสถานะ </header>
			<div class="card-block" style="padding-left: 30%; padding-right: 30%;">
				<form id="mainForm" method="POST" action="#" th:action="@{/omudb/omudb2002/edit}">
					<input type="hidden" th:field="${omFormVo.statusCode}">
					<input type="hidden" th:field="${omFormVo.orderId}">
					<input type="hidden" th:field="${omFormVo.serviceItemId}">

					<div class="form-group row">
						<label class="col-sm-4 form-control-label">สถานะ
							<span class="require">*</span>
						</label>
						<div class="col-sm-8">

							<select class="form-control" th:field="${omFormVo.changeStatusCode}">
								<option value="">-- เลือกสถานะ --</option>
								<option th:each="item : ${dropdown}" th:value="${item.id}" th:text="${item.id + ' : ' + item.status}">TEXT</option>
							</select>

						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-4 form-control-label">สาเหตุ</label>
						<div class="col-sm-8">

							<textarea th:field="${omFormVo.remark}" id="" cols="40" rows="5" maxlength="150"></textarea>

						</div>
					</div>


					<div class="form-group row">
						<div class="col-sm-12 text-center">
							<button type="button" class="btn btn-inline btn-primary" onclick="Omudb2002.onClickSubmit();">ข้ามสถานะ</button>
							<button type="button" class="btn btn-inline btn-default" onclick="Omudb2002.onClicBack();">ย้อนกลับ</button>
						</div>
					</div>

				</form>
			</div>
		</section>


	</div>
</body>

</html>