<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{views/baseLayout/mainLayout}">

<head>
	<title>แสดงประวัติการ ตั้งเวลา/เปิด/ปิด บริการ USSD</title>
	<script th:src="@{/theme/js/lib/datatables-net/datatables.min.js}" src="theme/js/lib/datatables-net/datatables.min.js"></script>
	<link rel="stylesheet" th:href="@{/jquery-ui-1.12.1.custom/jquery-ui.min.css}" href="/jquery-ui-1.12.1.custom/jquery-ui.min.css"></link>
	<script src="jquery-ui-1.12.1.custom/jquery-ui.min.js" th:src="@{/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
	<script th:src="@{/js/omudb/omudb4000.js}" src="omudb4000.js"></script>
</head>

<body>
	<div layout:fragment="content">

		<ol class="breadcrumb" style="background-color: white;">
			<li class="active">
				<a href="#"> USSD </a>
			</li>
			<li class="active">แสดงประวัติการ ตั้งเวลา/เปิด/ปิด บริการ USSD
			</li>
		</ol>

		<section class="card">
			<header class="card-header card-header-lg">
				ระบุเงื่อนไขในการค้นหา </header>
			<div class="card-block" style="padding-left: 20%; padding-right: 20%;">
				<form>
					<div class="form-group row">
						<label class="col-sm-2 form-control-label">Order Id</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" th:field="${historyVo.orderId}">
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-2 form-control-label">Order Service Id</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" th:field="${historyVo.orderSvcItem}">
						</div>
					</div>
				
					<div class="form-group row">
						<label class="col-sm-2 form-control-label">วันที่</label>
						<div class="col-sm-4">
							<div class="input-group">
								<input type="text" class="form-control" id="inputDateFrom" th:field="${historyVo.dateFrom}" onchange="Omudb4000.onChangeDateFrom();">
								<div class="input-group-addon">
									<span class="fa fa-calendar"></span>
								</div>
							</div>
						</div>
						<label class="col-sm-2 form-control-label">ถึง</label>
						<div class="col-sm-4">
							<div class="input-group">
								<input type="text" class="form-control" id="inputDateTo" th:field="${historyVo.dateTo}" onchange="Omudb4000.onChangeDateTo();">
								<div class="input-group-addon">
									<span class="fa fa-calendar"></span>
								</div>
							</div>
						</div>
					</div>

					<div class="form-group row">
						<div class="col-sm-12 text-center">
							<button type="button" class="btn btn-inline btn-primary" onclick="Omudb4000.onClickSearch();">ค้นหา</button>

							<button type="button" class="btn btn-inline btn-default" onclick="Omudb4000.onClickClearData();">ล้างข้อมูล</button>
						</div>
					</div>
				</form>
			</div>
		</section>

		<section class="card">
			<header class="card-header card-header-lg"> ผลการค้นหา </header>
			<div class="card-block">

				<table id="omudb4000Table" class="display table table-striped table-bordered" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th class="text-center">Order ID</th>
							<th class="text-center">Order Service ID</th>
							<th class="text-center">Remark</th>
							<th class="text-center">Order Service Status</th>
							<th class="text-center">Update Date</th>
							<th class="text-center">Username</th>
						</tr>
					</thead>
				</table>

			</div>
		</section>

	</div>
</body>

</html>