<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{views/baseLayout/mainLayout}">

<head>
	<title>รายงานกระทบยอดทางบัญชี</title>
	<link rel="stylesheet" th:href="@{/jquery-ui-1.12.1.custom/jquery-ui.min.css}" href="/jquery-ui-1.12.1.custom/jquery-ui.min.css"></link>
	<script src="jquery-ui-1.12.1.custom/jquery-ui.min.js" th:src="@{/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
	<script th:src="@{/theme/js/lib/datatables-net/datatables.min.js}" src="theme/js/lib/datatables-net/datatables.min.js"></script>
	<script th:src="@{/js/bpm/bpm1000.js}" src="bpm1000.js"></script>
</head>

<body>
	<div layout:fragment="content">

		<ol class="breadcrumb" style="background-color: white;">
			<li>
				<a href="#"> Billing </a>
			</li>
			<li class="active">
				ติดตามตรวจสอบ
			</li>
		</ol>
		
		<section class="card">
			<header class="card-header card-header-lg">ระบุเงื่อนไขในการค้นหา</header>
			<div class="card-block" style="padding-left: 25%; padding-right: 20%;">
				<form id="mainForm" method="POST" action="#">
					
					<div class="form-group row">
						<label class="col-sm-2 form-control-label">Process Type</label>
						<div class="col-sm-4">
							<select class="form-control" ></select>
						</div>
						<label class="col-sm-4 form-control-label">Ex. RAP/Mark CDRs/Transfering</label>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-2 form-control-label">Transaction ID</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" >
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-2 form-control-label">Process ID</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" >
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-2 form-control-label">ผู้ที่ทำรายการ</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" >
						</div>
						<label class="col-sm-4 form-control-label">Ex. รหัสพนักงาน</label>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-2 form-control-label">สถานะ</label>
						<div class="col-sm-4">
							<select class="form-control" ></select>
						</div>
						<label class="col-sm-4 form-control-label">Ex. Success/Failed/IN Progress</label>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-2 form-control-label">วันที่</label>
						<div class="col-sm-4">
							<div class="input-group">
								<input type="text" class="form-control" id="inputDateFrom"  onchange="bpm1000.onChangeDateFrom();">
								<div class="input-group-addon">
									<span class="fa fa-calendar"></span>
								</div>
							</div>
						</div>
						<label class="col-sm-1 form-control-label">ถึง</label>
						<div class="col-sm-4">
							<div class="input-group">
								<input type="text" class="form-control" id="inputDateTo" onchange="bpm3100.onChangeDateTo();">
								<div class="input-group-addon">
									<span class="fa fa-calendar"></span>
								</div>
							</div>
						</div>
					</div>
					
					<div class="form-group row">
						<div class="text-center">
							<button type="button" class="btn btn-inline btn-primary">ค้นหา</button>
							<button type="button" class="btn btn-inline btn-default">ยกเลิก</button>
						</div>
					</div>

				</form>
			</div>
		</section>
		
		<section class="card">
			<header class="card-header card-header-lg">
				รายงานกระทบยอดทางบัญชี
			</header>
			<div class="card-block" >
				<table id="bpm1000Table" class="display table table-striped table-bordered" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th class="text-center">Transaction ID</th>
							<th class="text-center">Process ID</th>
							<th class="text-center">Process Type</th>
							<th class="text-center">ผู้ที่ทำรายการ</th>
							<th class="text-center">สถานะ</th>
							<th class="text-center">วันที่ทำรายการ</th>
							<th class="text-center">Log Report</th>
							<th class="text-center">Action</th>
						</tr>
					</thead>
				</table>
			</div>
		</section>

	</div>
</body>

</html>