<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{views/baseLayout/mainLayout}">

<head>
	<title>รายงานกระทบยอดทางบัญชี</title>
	<link rel="stylesheet" th:href="@{/jquery-ui-1.12.1.custom/jquery-ui.min.css}" href="/jquery-ui-1.12.1.custom/jquery-ui.min.css"></link>
	<script src="jquery-ui-1.12.1.custom/jquery-ui.min.js" th:src="@{/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
	<script th:src="@{/theme/js/lib/datatables-net/datatables.min.js}" src="theme/js/lib/datatables-net/datatables.min.js"></script>
	<script th:src="@{/js/bpm/bpm2001.js}" src="bpm2001.js"></script>
</head>

<body>
	<div layout:fragment="content">

		<ol class="breadcrumb" style="background-color: white;">
			<li>
				<a href="#"> Billing </a>
			</li>
			<li>
				<a href="#"> โอนหนี้ </a>
			</li>
			<li>
				<span>รายการโอนหนี้</span>
			</li>
			
		</ol>
		
		<section class="card card-orange">
			<header class="card-header">
				Warning Message
				<button type="button" class="modal-close">
					<i class="font-icon-close-2"></i>
				</button>
			</header>
			<div class="card-block">
				<p class="card-text">เนื่องจากข้อมูล Invoice No มีข้อมูลย้อนหลัง 1 ปี รบกวนแจ้งฝ่ายหน่วยงานที่เกี่ยวข้องดำเนินการดึงข้อมูลจาก Backup Data เข้าสู่ระบบก่อนดำเนินงาน</p>
			</div>
		</section>

		
		<section class="card">
			<header class="card-header card-header-lg">
				Import รายการโอนหนี้
			</header>
			<div class="card-block" style="padding-left: 35%; padding-right: 20%;" >
				<form 	id="mainForm" method="POST" action="#">
					
					<div class="form-group row">
						<label class="col-sm-2 form-control-label">ไฟล์อัพโหลด</label>
						<div class="col-sm-4">
							<input type="text" class="form-control">
						</div>
						<button class="btn btn-primary btn-sm" type="button">อัพโหลด</button>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-2 form-control-label">ประเภทการออกบิล</label>
						<div class="col-sm-4">
							<select class="form-control" ></select>
						</div>
						<label class="col-sm-4 form-control-label">
							(Ex. รวมบิล/แยกบิล)
						</label>
					</div>
					
					<div class="form-group row">
						<h1 class="text-center">
							<button type="button" class="btn btn-inline btn-primary">บันทึก</button>
							<button type="button" class="btn btn-inline btn-default">ยกเลิก</button>
						</h1>
					</div>

				</form>
			</div>
		</section>
	</div>
</body>

</html>
