<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{views/baseLayout/mainLayout}">

<head>
	<title>รายงานกระทบยอดทางบัญชี</title>
	<link rel="stylesheet" th:href="@{/jquery-ui-1.12.1.custom/jquery-ui.min.css}" href="/jquery-ui-1.12.1.custom/jquery-ui.min.css"></link>
	<script src="jquery-ui-1.12.1.custom/jquery-ui.min.js" th:src="@{/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
	<script th:src="@{/theme/js/lib/datatables-net/datatables.min.js}" src="theme/js/lib/datatables-net/datatables.min.js"></script>
	<script th:src="@{/js/bpm/bpm2100.js}" src="bpm2100.js"></script>
</head>

<body>
	<div layout:fragment="content">

		<ol class="breadcrumb" style="background-color: white;">
			<li>
				<a href="#">ติดตามตรวจสอบ</a>
			</li>
			<li>
				<a class="active"> รายละเอียดการดำเนินการโอนหนี้ </a>
			</li>
		</ol>
		
		<section class="card">
			<header class="card-header card-header-lg">รายละเอียดการดำเนินการโอนหนี้</header>
			<div class="card-block" style="padding-left: 25%; padding-right: 20%;">
				<form id="mainForm" method="POST" action="#">
										
					<div class="form-group row">
					<label class="col-sm-3 form-control-label">วันเวลาที่ทำรายการ</label>
						<div class="col-sm-4">
							<label class="form-control-label">12-11-2017 13:00:23</label>
						</div>
					</div>
					
					<div class="form-group row">
					<label class="col-sm-3 form-control-label">ผู้ที่ทำรายการ</label>
						<div class="col-sm-4">
							<label class="form-control-label">10021 สมชาย สมหมาย</label>
						</div>
					</div>
					
					<div class="form-group row">
					<label class="col-sm-3 form-control-label">สถานะการดำเนินการ</label>
						<div class="col-sm-6">
							<label class="form-control-label">สำเร็จ | ไม่สำเร็จ | กำลังดำเนินการ</label>
						</div>
					</div>
					
					
					
					
				</form>
			</div>
		</section>
		
		<section class="card">
			<header class="card-header card-header-lg">
				รายการดำเนินการโอนหนี้
			</header>
			<div class="card-block" >
				<table id="bpm2100Table" class="display table table-striped table-bordered" cellspacing="0" width="100%">
					<thead>
						<tr>
							
							<th class="text-center">Transaction ID</th>
							<th class="text-center">Process ID</th>
							<th class="text-center">Process Type</th>
							<th class="text-center">Process Name</th>
							<th class="text-center">ผู้ที่ทำรายการ</th>
							<th class="text-center">สถานะ</th>
							<th class="text-center">วันที่เวลาที่ทำรายการ</th>
							<th class="text-center">Log Report</th>
												
				
						</tr>
					</thead>
				</table>
			</div>
		</section>
		
		<section class="card">
			<header class="card-header card-header-lg">
				รายการโอนหนี้ T1,T2,T3 จากกลูกค้าเดิมไปจัดเก็บลูกค้าใหม่
			</header>
			<div class="card-block" >
				<table id="bpm2100T123Table" class="display table table-striped table-bordered" cellspacing="0" width="100%">
					<thead>
						<tr>
							
							<th class="text-center">หมายเลขโทรศัพท์</th>
							<th class="text-center">BAเดิม</th>
							<th class="text-center">Group</th>
							<th class="text-center">งวดบิล</th>
							<th class="text-center">Invoice No.</th>
							<th class="text-center">จำนวนรายการ</th>
							<th class="text-center">จำนวนเงินก่อน VAT</th>
							<th class="text-center">BAใหม่</th>
							<th class="text-center">Group ใหม่</th>
							<th class="text-center">วันที่เเจ้งงาน </th>
											
						</tr>
					</thead>
				</table>
			</div>
			<div class="form-group row">
				<div class="col-sm-12 text-left">
					<button type="button" class="btn btn-inline btn-default">ย้อนกลับ</button>
									
				</div>
			</div>
		</section>
		

	</div>
</body>

</html>