<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{views/baseLayout/mainLayout}">

<head>
	<title>รายงานกระทบยอดทางบัญชี</title>
	<link rel="stylesheet" th:href="@{/jquery-ui-1.12.1.custom/jquery-ui.min.css}" href="/jquery-ui-1.12.1.custom/jquery-ui.min.css"></link>
	<script src="jquery-ui-1.12.1.custom/jquery-ui.min.js" th:src="@{/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
	<script th:src="@{/theme/js/lib/datatables-net/datatables.min.js}" src="theme/js/lib/datatables-net/datatables.min.js"></script>
	<script th:src="@{/js/bpm/bpm2008.js}" src="bpm2008.js"></script>
</head>

<body>
	<div layout:fragment="content">

		<ol class="breadcrumb" style="background-color: white;">
			<li>
				<a href="#"> Billing </a>
			</li>
			<li>
				<a href="#"> โอนหนี้ </a>
			</li>
			<li>
				<a href="#"> รายการโอนหนี้ </a>
			</li>
			<li>
				<a href="#"> ตรวจสอบรอบบิล</a>
			</li>
			<li class="active">
				ปรับวันที่ย้อนหลัง
			</li>
			
		</ol>
	
		<section class="card">
			<header class="card-header card-header-lg">
				รอบใบเเจ้งค่าใช้บริการที่เริ่มทำการโอนหนี้ของบริการ T2
			</header>
			<div class="card-block">
				<table id="bpm2008T1Table" class="display table table-striped table-bordered" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th class="text-center">Cut Off Date</th>
							<th class="text-center">PPDD Date</th>
							<th class="text-center">Next PPDD Date</th>
						</tr>
					</thead>					
				</table>				
			</div>			
		</section>
		<section class="card">
			<header class="card-header card-header-lg">
				รอบใบเเจ้งค่าใช้บริการปัจจุบันของบริการ T2 ของผู้ใช้งาน Account 1279797
			</header>
			<div class="card-block">
				<table id="bpm2008T2Table" class="display table table-striped table-bordered" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th class="text-center">Account No</th>
							<th class="text-center">PREV Cut Off Date</th>
							<th class="text-center">PREV Bill Date</th>
							<th class="text-center">Next Bill Date</th>
						</tr>
					</thead>					
				</table>				
			</div>			
		</section>
		<section class="card">
			<header class="card-header card-header-lg">
				รอบวันที่เริ่มการคิด ค่าเช่า/NRC Account 1379797
			</header>
			<div class="card-block" >
				<table id="bpm2008T3Table" class="display table table-striped table-bordered" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th class="text-center">Account No</th>
							<th class="text-center">PREV Cut Off Date</th>
							<th class="text-center">PREV Bill Date</th>
							<th class="text-center">Next Bill Date</th>
						</tr>
					</thead>					
				</table>				
			</div>			
		</section>
		
		<section class="card">
			<header class="card-header card-header-lg">ปรับวันที่รอบบิลย้อนหลัง</header>
			<div class="card-block" style="padding-left: 25%; padding-right: 20%;">
				<form id="mainForm" method="POST" action="#">
					
					<div class="form-group row">
						<label class="col-sm-4 form-control-label">Account</label>
						<label class="col-sm-4 form-control-label">1379797</label>
						
					</div>
					
					<div class="form-group row">
						<label class="col-sm-4 form-control-label">Previous Cut Off Date </label>
						<div class="col-sm-4">
							<div class="input-group">
								<input type="text" class="form-control " id="prevCutOffDate" onchange="bpm2008.onChangeDateFrom();">
								<div class="input-group-addon">
									<span class="fa fa-calendar"></span>
								</div>
							</div>
						</div>
						
					</div>
					
					<div class="form-group row">
						<label class="col-sm-4 form-control-label">Previous Bill Date</label>
						<div class="col-sm-4">
							<div class="input-group">
								<input type="text" class="form-control " id="prevBillDate" onchange="bpm2008.onChangeDateFrom();">
								<div class="input-group-addon">
									<span class="fa fa-calendar"></span>
								</div>
							</div>
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-4 form-control-label">Next Bill Date</label>
						<div class="col-sm-4">
							<div class="input-group">
								<input type="text" class="form-control " id="nextBillDate" onchange="bpm2008.onChangeDateFrom();">
								<div class="input-group-addon">
									<span class="fa fa-calendar"></span>
								</div>
							</div>
						</div>
					</div>
				
					

				</form><br>
			<div class="form-group row">
			<div class="col-sm-4"></div>
				<div class="col-sm-4 text-center">
					<button type="button" class="btn btn-inline btn-default">ย้อนกลับ</button>
				</div>
				<div class="col-sm-4 text-right">
					<button type="button" class="btn btn-inline btn-primary">อัพเดท</button>
				</div>
			</div>
			</div>
			
		</section>
	</div>
</body>

</html>