<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{views/baseLayout/mainLayout}">

<head>
	<title>รายงานกระทบยอดทางบัญชี</title>
	<link rel="stylesheet" th:href="@{/jquery-ui-1.12.1.custom/jquery-ui.min.css}" href="/jquery-ui-1.12.1.custom/jquery-ui.min.css"></link>
	<script src="jquery-ui-1.12.1.custom/jquery-ui.min.js" th:src="@{/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
	<script th:src="@{/theme/js/lib/datatables-net/datatables.min.js}" src="theme/js/lib/datatables-net/datatables.min.js"></script>
	<script th:src="@{/js/bpm/bpm2001.js}" src="bpm2001.js"></script>
</head>

<body>
	<div layout:fragment="content">

		<ol class="breadcrumb" style="background-color: white;">
			<li>
				<a href="#"> Billing </a>
			</li>
			<li>
				<a href="#"> โอนหนี้ </a>
			</li>
			<li>
				<span>รายการโอนหนี้</span>
			</li>
			
		</ol>
		<div class="form-group text-right">
			<button class="btn btn-primary" type="button">Import</button>
			<button class="btn btn-primary" type="button">เพิ่ม</button>
		</div>
		
		<section class="card">
			<header class="card-header card-header-lg">
				รายการโอนหนี้ T1,T2,T3 จากลูกค้าเดิมไปจักเก็บลูกค้าใหม่
			</header>
			<div class="card-block" >
				<table id="bpm2001Table" class="display table table-striped table-bordered" cellspacing="0" width="100%">
					<thead>
						<tr>
							
							<th class="text-center">หมายเลขโทรศัพท์</th>
							<th class="text-center">BA เดิม</th>
							<th class="text-center">Group </th>
							<th class="text-center">งวดบิล</th>
							<th class="text-center">Invoice No.	</th>
							<th class="text-center">จำนวนรายการ</th>
							<th class="text-center">จำนวนเงินก่อน  VAT</th>
							<th class="text-center">BA ใหม่</th>
							<th class="text-center">Group ใหม่</th>
							<th class="text-center">วันที่แจ้งงาน</th>
							<th class="text-center">รวมบิล</th>
							<th></th>
												
				
						</tr>
					</thead>
				</table>
			</div>
		</section>
		
		<section class="card">
			<header class="card-header card-header-lg">
				รอการโอนหนี้ T1,T2,T3 จากลูกค้าเดิมไปจัดเก็บลูกค้าใหม่ (Invoice ย้อนหลัง 1 ปี)
			</header>
			<div class="card-block" >
				<table id="bpm2001Table2" class="display table table-striped table-bordered" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th class="text-center">หมายเลขโทรศัพท์</th>
							<th class="text-center">BA เดิม</th>
							<th class="text-center">Group </th>
							<th class="text-center">งวดบิล</th>
							<th class="text-center">Invoice No.	</th>
							<th class="text-center">จำนวนรายการ</th>
							<th class="text-center">จำนวนเงินก่อน  VAT</th>
							<th class="text-center">BA ใหม่</th>
							<th class="text-center">Group ใหม่</th>
							<th class="text-center">วันที่แจ้งงาน</th>
							<th class="text-center">รวมบิล</th>
							<th></th>
				
						</tr>
					</thead>
				</table><br>
				<div class="form-group row">
					<div class="col-sm-5 text-left">
						<button type="button" class="btn btn-inline btn-default">ย้อนกลับ</button>				
					</div>
					<div class="col-sm-7 text-right ">
						<button type="button" class="btn btn-inline btn-default">ยกเลิก</button>
						<button type="button" class="btn btn-inline bpm-primary">ตรวจสอบข้อมูลการโอนหนี้</button>
					</div>
				</div>
			</div>
			
		</section>
		

	</div>
</body>

</html>
