<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{views/baseLayout/mainLayout}">

<head>
	<title>รายงานกระทบยอดทางบัญชี</title>
	<link rel="stylesheet" th:href="@{/jquery-ui-1.12.1.custom/jquery-ui.min.css}" href="/jquery-ui-1.12.1.custom/jquery-ui.min.css"></link>
	<script src="jquery-ui-1.12.1.custom/jquery-ui.min.js" th:src="@{/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
	<script th:src="@{/theme/js/lib/datatables-net/datatables.min.js}" src="theme/js/lib/datatables-net/datatables.min.js"></script>
	<script th:src="@{/js/bpm/bpm2006.js}" src="bpm2006.js"></script>
</head>

<body>
	<div layout:fragment="content">

		<ol class="breadcrumb" style="background-color: white;">
			<li>
				<a href="#"> Billing </a>
			</li>
			<li>
				<a href="#"> โอนหนี้ </a>
			</li>
			<li>
				<a href="#"> รายการโอนหนี้ </a>
			</li>
			<li class="active">
				สรุปยอดสำหรับการโอนหนี้
			</li>
			
		</ol>
	
		<section class="card">
			<header class="card-header card-header-lg">
				สรุปยอดสำหรับการโอนหนี้
			</header>
			<div class="card-block" style="overflow-x: scroll;">
				<table id="bpm2006Table" class="display table table-striped table-bordered" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th class="text-center">External ID</th>
							<th class="text-center">External ID Type</th>
							<th class="text-center">Account No.</th>
							<th class="text-center">No.Bill</th>
							<th class="text-center">Point Origin</th>
							<th class="text-center">Monthly</th>
							<th class="text-center">Records</th>
							<th class="text-center">Charge </th>
							<th class="text-center">Secs</th>
							<th class="text-center">Min Trans Date</th>
							<th class="text-center">Max Trans Date </th>
							<th class="text-center"></th>
														
						</tr>
					</thead>
					
				</table>
				<br>
				<div class="form-group row">
					<div class="col-sm-6 text-left">
						<button type="button" class="btn btn-inline btn-default">ย้อนกลับ]</button>
					</div>
					<div class="col-sm-6 text-right">
			
						<button type="button" class="btn btn-inline btn-default">ยกเลิก</button>
						<button type="button" class="btn btn-inline btn-primary">พิมพ์</button>
						
					</div>
				</div>
			</div>
			
		</section>

	</div>
</body>

</html>