<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{views/baseLayout/mainLayout}">

<head>
	<title>รายงานกระทบยอดทางบัญชี</title>
	<link rel="stylesheet" th:href="@{/jquery-ui-1.12.1.custom/jquery-ui.min.css}" href="/jquery-ui-1.12.1.custom/jquery-ui.min.css"></link>
	<script src="jquery-ui-1.12.1.custom/jquery-ui.min.js" th:src="@{/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
	<script th:src="@{/theme/js/lib/datatables-net/datatables.min.js}" src="theme/js/lib/datatables-net/datatables.min.js"></script>
	<script th:src="@{/js/bpm/bpm3000.js}" src="bpm3000.js"></script>
</head>

<body>
	<div layout:fragment="content">

		<ol class="breadcrumb" style="background-color: white;">
			<li>
				<a href="#"> Billing </a>
			</li>
			<li>
				<a href="#"> Rerate(RAP) </a>
			</li>
			<li class="active">
				ตรวจสอบเบอร์ /Session/BA ต้นทางและปลายทาง
			</li>
		</ol>
		
		<section class="card">
			<header class="card-header card-header-lg">ระบุเงื่อนไขในการค้นหา</header>
			<div class="card-block" style="padding-left: 15%; padding-right: 15%;">
				<form id="mainForm" method="POST" action="#">
					
					<div class="form-group row">
						<label class="col-sm-3 form-control-label">รูปแบบการค้นหา</label>
						<div class="col-sm-3">
							<select class="form-control" ></select>
						</div>
						<label class="col-sm-4 form-control-label">Ex. แบบอัพโหลดไฟล์/แบบรายการ</label>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-3 form-control-label">ไฟล์อัพโหลด</label>
						<div class="col-sm-3">
							<input type="text" class="form-control" >
						</div>
						<label ><button type="button" class="btn btn-inline btn-primary ">อัพโหลด</button></label>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-3 form-control-label">Account Number</label>
						<div class="col-sm-3">
							<input type="text" class="form-control" >
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-3 form-control-label">Subscriber No.</label>
						<div class="col-sm-3">
							<input type="text" class="form-control" >
						</div>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-3 form-control-label">Date From</label>
						<div class="col-sm-3">
							<div class="input-group">
								<input type="text" class="form-control " id="inputDateFrom" onchange="bpm3000.onChangeDateFrom();">
								<div class="input-group-addon">
									<span class="fa fa-calendar"></span>
								</div>
							</div>
						</div>
						<label class="col-sm-1 form-control-label">To</label>
						<div class="col-sm-3">
							<div class="input-group">
								<input type="text" class="form-control " id="inputDateTo" onchange="bpm3000.onChangeDateTo();">
								<div class="input-group-addon">
									<span class="fa fa-calendar"></span>
								</div>
							</div>
						</div>
					</div>
					
					<div class="form-group row">
						<h1 class="text-center">
							<button type="button" class="btn btn-inline btn-primary">ค้นหา</button>
							<button type="button" class="btn btn-inline btn-default">ล้างข้อมูล</button>
						</h1>
					</div>

				</form>
			</div>
		</section>
		
		<section class="card">
			<header class="card-header card-header-lg">
				รายงานกระทบยอดทางบัญชี
			</header>
			<div class="card-block" >
				<table id="bpm3000Table" class="display table table-striped table-bordered" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th class="text-center">External ID</th>
							<th class="text-center">External Type</th>
							<th class="text-center">Active Date</th>
							<th class="text-center">Inactive Date</th>
							<th class="text-center">Subscriber No.</th>
							<th class="text-center">Account Number</th>
							<th class="text-center">Start Date</th>
							<th class="text-center">End Date</th>
							<th class="text-center">Billing Account</th>
							<th class="text-center">Start Date</th>
							<th class="text-center">End Date</th>
				
						</tr>
					</thead>
				</table>
			</div>
		</section>

	</div>
</body>

</html>