<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{views/baseLayout/mainLayout}">

<head>
	<title>รายงานกระทบยอดทางบัญชี</title>
	<link rel="stylesheet" th:href="@{/jquery-ui-1.12.1.custom/jquery-ui.min.css}" href="/jquery-ui-1.12.1.custom/jquery-ui.min.css"></link>
	<script src="jquery-ui-1.12.1.custom/jquery-ui.min.js" th:src="@{/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
	<script th:src="@{/theme/js/lib/datatables-net/datatables.min.js}" src="theme/js/lib/datatables-net/datatables.min.js"></script>
	<script th:src="@{/js/bpm/bpm3200.js}" src="bpm3200.js"></script>
</head>

<body>
	<div layout:fragment="content">

		<ol class="breadcrumb" style="background-color: white;">
			<li>
				<a href="#"> Billing </a>
			</li>
			<li>
				<a href="#"> Rerate (RAP) </a>
			</li>
			<li>
				<a href="#"> ตรวจสอบ Usage (Target BA)</a>
			</li>
			
		</ol>
		
		<section class="card">
			<header class="card-header card-header-lg">ระบุเงื่อนไขในการค้นหา   </header>
			<div class="card-block" style="padding-left: 25%; padding-right: 20%;" >
				<form id="mainForm" method="POST" action="#">
					
					<div class="form-group row">
						<label class="col-sm-3 form-control-label"> รูปเเบบการค้นหา </label>
						<div class="col-sm-4">
							<select class="form-control" ></select>
						</div>
						<label class="col-sm-13 form-control-label">Ex. เเบบอัพโหลดไฟล์/เเนบรายการ</label>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-3 form-control-label">ไฟล์อัพโหลด  </label>
						<div class="col-sm-4">
							<select class="form-control" ></select>
						</div>
						<button type="button" class="btn btn-inline btn-primary">อัพโหลด</button>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-3 form-control-label">Billing Account (BA)</label>
						<div class="col-sm-4">
							<select class="form-control" ></select>
						</div>
						
					</div>
					
					<div class="form-group row">
						<label class="col-sm-3 form-control-label"> Account</label>
						<div class="col-sm-4">
							<select class="form-control" ></select>
						</div>
						
					</div>
					
					<div class="form-group row">
						<label class="col-sm-3 form-control-label">Service  </label>
						<div class="col-sm-4">
							<select class="form-control" ></select>
						</div>
						<label class="col-sm-3 form-control-label">Ex. IDD/CAT SIP/My/All</label>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-3 form-control-label">Account Number </label>
						<div class="col-sm-4">
							<select class="form-control" ></select>
						</div>
						<label class="col-sm-3 form-control-label">Ex. 152/3412/440/All
						</label>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-3 form-control-label">Subscriber No</label>
						<div class="col-sm-4">
							<select class="form-control" ></select>
						</div>
						
					</div>
										
					<div class="form-group row">
						<label class="col-sm-3 form-control-label">Date From</label>
						<div class="col-sm-4">
							<div class="input-group">
								<input type="text" class="form-control" id="inputDateFrom"  onchange="bpm3200.onChangeDateFrom();">
								<div class="input-group-addon">
									<span class="fa fa-calendar"></span>
								</div>
							</div>
						</div>
						<label class="col-sm-1 form-control-label"> to </label>
						<div class="col-sm-4">
							<div class="input-group">
								<input type="text" class="form-control" id="inputDateTo" onchange="bpm3200.onChangeDateTo();">
								<div class="input-group-addon">
									<span class="fa fa-calendar"></span>
								</div>
							</div>
						</div>
					</div>
					
					<div class="form-group row">
						<div class="text-center">
							<button type="button" class="btn btn-inline btn-primary">ค้นหา</button>
							<button type="button" class="btn btn-inline btn-default">ยกเลิก</button>
						</div>
					</div>

				</form>
			</div>
		</section>
		
		<section class="card">
			<header class="card-header card-header-lg">
				ผลการค้นหา
			</header>
			<div class="card-block" style="overflow-x: scroll;">
				<table id="bpm3200Table" class="display table table-striped table-bordered" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th class="text-center">Billing Account</th>
							<th class="text-center">Guilding </th>
							<th class="text-center">Type </th>
							<th class="text-center">Account No</th>
							<th class="text-center">Number Of Bill</th>
							<th class="text-center">Point Origin</th>
							<th class="text-center">Monthly </th>
							<th class="text-center">Records </th>
							<th class="text-center">Charge </th>
							<th class="text-center">Secs </th>
							<th class="text-center">Min Trans Date</th>
							<th class="text-center">Max Trans Date</th>
							
						</tr>
					</thead>
				</table>
			</div>
			<br>
			<div class="form-group row">
				<div class="col-sm-12 text-right">
					<button type="button" class="btn btn-inline btn-primary">พิมพ์</button>				
				</div>
			</div>
		</section>
		

	</div>
</body>

</html>