<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{views/baseLayout/mainLayout}">

<head>
	<title>รายงานกระทบยอดทางบัญชี</title>
	<link rel="stylesheet" th:href="@{/jquery-ui-1.12.1.custom/jquery-ui.min.css}" href="/jquery-ui-1.12.1.custom/jquery-ui.min.css"></link>
	<script src="jquery-ui-1.12.1.custom/jquery-ui.min.js" th:src="@{/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
	<script th:src="@{/theme/js/lib/datatables-net/datatables.min.js}" src="theme/js/lib/datatables-net/datatables.min.js"></script>
	<script th:src="@{/js/bpm/bpm3300.js}" src="bpm3300.js"></script>
</head>

<body>
	<div layout:fragment="content">

		<ol class="breadcrumb" style="background-color: white;">
			<li>
				<a href="#"> ติดตามตรวจสอบ </a>
			</li>
			<li class="active">
				รายละเอียดการดำเนินการ RAP
			</li>
		</ol>
		
		<section class="card">
			<header class="card-header card-header-lg">รายละเอียดการดำเนินการ RAP</header>
			<div class="card-block" style="padding-left: 25%; padding-right: 20%;">
				<div class="row">
					
					<div class="form-group row">
						<label class="col-sm-4 form-control-label">เวลาที่ทำรายการ</label>
						<label class="col-sm-4 form-control-label">12-11-2017 10:00:33</label>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-4 form-control-label">ผู้ที่ทำรายการ</label>
						<label class="col-sm-4 form-control-label">10021 สมชาย สมหมาย</label>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-4 form-control-label">สถานที่การดำเนินงาน</label>
						<label class="col-sm-4 form-control-label">สำเร็จ/ไม่สำเร็จ/กำลังดำเนินการ</label>
					</div>

				</div>
			</div>
		</section>
		
		<section class="card">
			<header class="card-header card-header-lg">
				รายการดำเนินการ
			</header>
			<div class="card-block" >
				<table id="bpm3300Table" class="display table table-striped table-bordered" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th class="text-center">Transaction ID</th>
							<th class="text-center">Process ID</th>
							<th class="text-center">Process Type</th>
							<th class="text-center">Process Name</th>
							<th class="text-center">ผู้ที่ทำรายการ</th>
							<th class="text-center">สถานะ</th>
							<th class="text-center">วันเวลาที่ทำรายการ</th>
							<th class="text-center">Log Report</th>
						</tr>
					</thead>
				</table>
			</div>
			<!-- <div class="form-group row">
				<div class=" col-sm-12 text-right">
					<button class="btn btn-primary" type="button">Usage Report</button> 
					<button class="btn btn-primary" type="button">จบขั้นตอนการดำเนินงาน</button> 
				</div>
			</div> -->
		</section>
		<section class="card">
			<header class="card-header card-header-lg">
				รายการดำเนินการ RAP
			</header>
			<div class="card-block" >
				<table id="bpm3300RapTable" class="display table table-striped table-bordered" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th class="text-center">Billing Account</th>
							<th class="text-center">Guilding</th>
							<th class="text-center">Type</th>
							<th class="text-center">Account No.</th>
							<th class="text-center">Number Of Bill</th>
							<th class="text-center">Poing Origin</th>
							<th class="text-center">Monthly</th>
							<th class="text-center">Records </th>
							<th class="text-center">Charge </th>
							<th class="text-center">Secs </th>
							<th class="text-center">Min Trans Date</th>
							<th class="text-center">Max Trans Date</th>
						</tr>
					</thead>
				</table>
			</div>
		</section>

	</div>
</body>

</html>