<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{views/baseLayout/mainLayout}">

<head>
	<title>รายงานกระทบยอดทางบัญชี</title>
	<link rel="stylesheet" th:href="@{/jquery-ui-1.12.1.custom/jquery-ui.min.css}" href="/jquery-ui-1.12.1.custom/jquery-ui.min.css"></link>
	<script src="jquery-ui-1.12.1.custom/jquery-ui.min.js" th:src="@{/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
	<script th:src="@{/theme/js/lib/datatables-net/datatables.min.js}" src="theme/js/lib/datatables-net/datatables.min.js"></script>
	<script th:src="@{/js/bpm/bpm4000.js}" src="bpm4000.js"></script>
</head>

<body>
	<div layout:fragment="content">

		<ol class="breadcrumb" style="background-color: white;">
			<li>
				<a href="#"> Billing </a>
			</li>
			<li>
				<a href="#"> Suspend </a>
			</li>
			<li class="active">
				ตรวจสอบรายเบอร์/ราย Service
			</li>
			
		</ol>
		
		<section class="card">
			<header class="card-header card-header-lg">ระบุเงื่อนไขในการค้นหา   </header>
			<div class="card-block" style="padding-left: 25%; padding-right: 20%;" >
				<form id="mainForm" method="POST" action="#">
					
					<div class="form-group row">
						<label class="col-sm-3 form-control-label">  External ID </label>
						<div class="col-sm-4">
							<input type="text" class="form-control" ></input>
						</div>
						<label class="col-sm-13 form-control-label"> (ANumber)</label>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-3 form-control-label"> Service  </label>
						<div class="col-sm-4">
							<select class="form-control" ></select>
						</div>
						<label class="col-sm-13 form-control-label">(Ex. IDD/CAT SIP /My/All)</label>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-3 form-control-label"> Err number</label>
						<div class="col-sm-4">
							<select class="form-control" ></select>
						</div>
						<label class="col-sm-13 form-control-label">(Ex. 152/3412/440/All)</label>
					</div>
															
					<div class="form-group row">
						<label class="col-sm-3 form-control-label">Data From</label>
						<div class="col-sm-4">
							<div class="input-group">
								<input type="text" class="form-control " id="inputDateFrom" onchange="bpm4000.onChangeDateFrom();">
								<div class="input-group-addon">
									<span class="fa fa-calendar"></span>
								</div>
							</div>
						</div>
						<label class="col-sm-1 form-control-label"> to </label>
						<div class="col-sm-4">
							<div class="input-group">
								<input type="text" class="form-control " id="inputDateTo" onchange="bpm4000.onChangeDateTo();">
								<div class="input-group-addon">
									<span class="fa fa-calendar"></span>
								</div>
							</div>
						</div>
					</div>
					
					<div class="form-group row">
						<div class="text-center">
							<button type="button" class="btn btn-inline btn-primary">ค้นหา</button>
							<button type="button" class="btn btn-inline btn-default">ยกเลิก</button>
						</div>
					</div>

				</form>
			</div>
		</section>
		<section class="card">
			<header class="card-header card-header-lg">
				รายงานกระทบยอดทางบัญชี
			</header>
			<div class="card-block" style="overflow-x: scroll;">
				<table id="bpm4000Table" class="display table table-striped table-bordered" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th class="text-left"><input type="checkbox"></th>
							<th class="text-center">External ID</th>
							<th class="text-center">Type</th>
							<th class="text-center">MIU Error Code</th>
							<th class="text-center">Count</th>
							<th class="text-center">Sum</th>
							<th class="text-center">Min Trans Date</th>
							<th class="text-center">Max Trans Date </th>
							
							
							
						</tr>
					</thead>
					
				</table>
				
				
				
			</div>
			<br>
			<div class="form-group row">
				<div class="col-sm-12 text-right">
					<a href="/bpm/bpm4001/" class="btn btn-inline btn-primary">Service Type</a>
					<a href="/bpm/bpm4002/" class="btn btn-inline btn-primary">Service Session</a>
					<button type="button" class="btn btn-inline btn-primary">Backdate</button>
					<a href="/bpm/bpm4003/" class="btn btn-inline btn-primary">Fix Case</a>
					<button type="button" class="btn btn-inline btn-primary">พิมพ์</button>
					
				</div>
			</div>
		</section>

	</div>
</body>

</html>