<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{views/baseLayout/mainLayout}">

<head>
	<title>รายงานกระทบยอดทางบัญชี</title>
	<link rel="stylesheet" th:href="@{/jquery-ui-1.12.1.custom/jquery-ui.min.css}" href="/jquery-ui-1.12.1.custom/jquery-ui.min.css"></link>
	<script src="jquery-ui-1.12.1.custom/jquery-ui.min.js" th:src="@{/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
	<script th:src="@{/theme/js/lib/datatables-net/datatables.min.js}" src="theme/js/lib/datatables-net/datatables.min.js"></script>
	<script th:src="@{/js/bpm/bpm5200.js}" src="bpm5200.js"></script>
</head>

<body>
	<div layout:fragment="content">

		<ol class="breadcrumb" style="background-color: white;">
			<li>
				<a href="#">Billing </a>
			</li>
			<li>
				<a href="#">  Mark CDRs </a>
			</li>
			<li class="active">
				 Report Mark Suspend
			</li>
			
			
		</ol>
		
		<section class="card">
			<header class="card-header card-header-lg">ระบุเงื่อนไขในการค้นหา   </header>
			<div class="card-block" style="padding-left: 25%; padding-right: 20%;" >
				<form id="mainForm" method="POST" action="#">
					
					<div class="form-group row" >
						<label class="col-sm-12 form-control-label"></label>
							<div class="col-sm-4 text-right">
								<input type="radio" name="All" value="All"> All<br>
							</div>
							<div class="col-sm-4 text-center">
  								<input type="radio" name="Suspend" value="Suspend"> Suspend<br>
 							</div>
 							<div class="col-sm-4 text-left">
 							 	<input type="radio" name="Unbill" value="Unbill"> Unbill <br>
							</div>
						
					</div>
					
					<div class="form-group row">
						<label class="col-sm-3 form-control-label">EXT Tracking ID</label>
						<div class="col-sm-4">
							<select class="form-control" ></select>
						</div>
					</div>
										
					
										
					<div class="form-group row">
						<label class="col-sm-3 form-control-label">จากวันที่</label>
						<div class="col-sm-4">
							<div class="input-group">
								<input type="text" class="form-control" id="inputDateFrom" onchange="bpm5200.onChangeDateFrom();">
								<div class="input-group-addon">
									<span class="fa fa-calendar"></span>
								</div>
							</div>
						</div>
						<label class="col-sm-1 form-control-label"> ถึง </label>
						<div class="col-sm-4">
							<div class="input-group">
								<input type="text" class="form-control" id="inputDateTo" onchange="bpm5200.onChangeDateTo();">
								<div class="input-group-addon">
									<span class="fa fa-calendar"></span>
								</div>
							</div>
						</div>
					</div>
					<br>
					<div class="form-group row">
						<h1 class="text-center">
							<button type="button" class="btn btn-inline btn-primary">ค้นหา</button>
							<button type="button" class="btn btn-inline btn-default">ล้างข้อมูล</button>
						</h1>
					</div>

				</form>
			</div>
		</section>
		
		<section class="card">
			<header class="card-header card-header-lg">
				ผลการค้นหา
			</header>
			<div class="card-block" style="overflow-x: scroll;">
				<table id="bpm5200Table" class="display table table-striped table-bordered" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th class="text-center">Create Date</th>
							<th class="text-center">Ext Tracking ID</th>
							<th class="text-center">Source TB</th>
							<th class="text-center">File ID</th>
							<th class="text-center">Num Records</th>
							<th class="text-center">Remark</th>
							<th class="text-center">ไฟล์เเนบ</th>

							
						</tr>
					</thead>
				</table>
			</div>
			<br>
			<div class="form-group row">
				<div class="col-sm-12 text-right">
					<button type="button" class="btn btn-inline btn-primary">Unmark</button>
					<button type="button" class="btn btn-inline btn-primary">พิมพ์</button>				
				</div>
			</div>
		</section>
		

	</div>
</body>

</html>