<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{views/baseLayout/mainLayout}">

<head>
	<title>รายงานกระทบยอดทางบัญชี</title>
	<link rel="stylesheet" th:href="@{/jquery-ui-1.12.1.custom/jquery-ui.min.css}" href="/jquery-ui-1.12.1.custom/jquery-ui.min.css"></link>
	<script src="jquery-ui-1.12.1.custom/jquery-ui.min.js" th:src="@{/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
	<script th:src="@{/theme/js/lib/datatables-net/datatables.min.js}" src="theme/js/lib/datatables-net/datatables.min.js"></script>
	<script th:src="@{/js/bpm/bpm5001.js}" src="bpm5001.js"></script>
</head>

<body>
	<div layout:fragment="content">

		<ol class="breadcrumb" style="background-color: white;">
			<li>
				<a href="#">Billing </a>
			</li>
			<li>
				<a href="#">Mark CDRs </a>
			</li>
			<li>
				<a href="#"> ตรวจสอบ Suspend ตามรายการ </a>
			</li>
			<li>
				<span>Remark</span> 
			</li>
		</ol>
		
		<section class="card">
			<header class="card-header card-header-lg">Remark </header>
			<div class="card-block" style="padding-left: 25%; padding-right: 20%;">
				<form id="mainForm" method="POST" action="#">
										
					<div class="form-group row">
					<label class="col-sm-3 form-control-label">Ext Tracking ID </label>
						<div class="col-sm-4">
							<input type="text" class="form-control" >
						</div>
					</div>
					
					<div class="form-group row">
					<label class="col-sm-3 form-control-label">Remark</label>
						<div class="col-sm-6">
							<textarea class="form-control"></textarea>
						</div>
					</div>
					
					<div class="form-group row">
					<label class="col-sm-3 form-control-label">เเนบไฟล์ </label>
						<div class="col-sm-4">
							<input type="text" class="form-control" >
						</div>
						<div class="col-sm-2">
							<button type="button" class="btn btn-inline btn-success">เพิ่มไฟล์</button>
						</div>
						<div class="col-sm-2">
							<button type="button" class="btn btn-inline btn-primary">อัพโหลด</button>
						</div>
					</div>
							
					<div class="form-group row">
					<label class="col-sm-3 form-control-label">เเนบไฟล์ </label>
						<div class="col-sm-4">
							<input type="text" class="form-control" >
						</div>
						<div class="col-sm-2">
							<button type="button" class="btn btn-inline btn-success">เพิ่มไฟล์</button>
						</div>
						<div class="col-sm-2">
							<button type="button" class="btn btn-inline btn-primary">อัพโหลด</button>
						</div>
					</div>	
				</form>
				<div class="form-group row">
						<h1 class="text-center">
							<button type="button" class="btn btn-inline btn-primary">บันทึก</button>
							<button type="button" class="btn btn-inline btn-default">ยกเลิก</button>
						</h1>
					</div>
			</div>
		</section>
		
		
		

	</div>
</body>

</html>