<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{views/baseLayout/mainLayout}">

<head>
	<title>รายงานกระทบยอดทางบัญชี</title>
	<link rel="stylesheet" th:href="@{/jquery-ui-1.12.1.custom/jquery-ui.min.css}" href="/jquery-ui-1.12.1.custom/jquery-ui.min.css"></link>
	<script src="jquery-ui-1.12.1.custom/jquery-ui.min.js" th:src="@{/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
	<script th:src="@{/theme/js/lib/datatables-net/datatables.min.js}" src="theme/js/lib/datatables-net/datatables.min.js"></script>
	<script th:src="@{/js/bpm/bpm5100.js}" src="bpm5100.js"></script>
</head>

<body>
	<div layout:fragment="content">

		<ol class="breadcrumb" style="background-color: white;">
			<li>
				<a href="#"> Billing </a>
			</li>
			<li>
				<a href="#"> Mark CDRs </a>
			</li>
			<li class="active">
				ตรวจสอบ Suspend จากไฟล์
			</li>
		</ol>
		
		<section class="card">
			<header class="card-header card-header-lg">ระบุเงื่อนไขในการค้นหา</header>
			<div class="card-block" style="padding-left: 25%; padding-right: 20%;">
				<form id="mainForm" method="POST" action="#">
					
					<div class="form-group row">
					
					<label class="col-sm-2 form-control-label"><input type="radio">File ID</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" >
							
						</div>
						<label class="col-sm-2 form-control-label"><button type="button" class="btn btn-inline btn-primary ">อัพโหลด</button></label>
					</div>
					<div class="form-group row">
					<label class="col-sm-2 form-control-label"><input type="radio">ANumber</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" >
							
						</div>
						<label class="col-sm-2 form-control-label"><button type="button" class="btn btn-inline btn-primary ">อัพโหลด</button></label>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 form-control-label">ประเภท</label>
						<div class="col-sm-4">
							<select class="form-control" ></select>
						</div>
						<label class="col-sm-4 form-control-label">Ex. Suspend/CDR Unbilled</label>
					</div>
					
					
					<div class="form-group row">
						<label class="col-sm-2 form-control-label">จากวันที่</label>
						<div class="col-sm-4">
							<div class="input-group">
								<input type="text" class="form-control " id="inputDateFrom" onchange="bpm5100.onChangeDateFrom();">
								<div class="input-group-addon">
									<span class="fa fa-calendar"></span>
								</div>
							</div>
						</div>
						<label class="col-sm-1 form-control-label">ถึง</label>
						<div class="col-sm-4">
							<div class="input-group">
								<input type="text" class="form-control " id="inputDateTo" onchange="bpm5100.onChangeDateTo();">
								<div class="input-group-addon">
									<span class="fa fa-calendar"></span>
								</div>
							</div>
						</div>
					</div>
					
					<div class="form-group row">
						<h1 class="text-center">
							<button type="button" class="btn btn-inline btn-primary">ค้นหา</button>
							<button type="button" class="btn btn-inline btn-default">ล้างข้อมูล</button>
						</h1>
					</div>

				</form>
			</div>
		</section>
		
		<section class="card">
			<header class="card-header card-header-lg">
				ผลการค้นหา
			</header>
			<div class="card-block" >
				<table id="bpm5100Table" class="display table table-striped table-bordered" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th></th>
							<th class="text-center">External ID</th>
							<th class="text-center">Type</th>
							<th class="text-center">MIU ErrorCode</th>
							<th class="text-center">Count</th>
							<th class="text-center">Sum</th>
							<th class="text-center">Min Trans Date</th>
							<th class="text-center">Max Trans Date</th>
												
				
						</tr>
					</thead>
				</table>
			</div>
		</section>

	</div>
</body>

</html>