<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head lang="en">
	<meta charset="UTF-8" />
	<meta name="context-path" th:content="@{/}"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
	<meta http-equiv="x-ua-compatible" content="IE=edge"/>
	<title> CAT - OS </title>

	<link href="theme/img/favicon.144x144.png" rel="apple-touch-icon" type="image/png" sizes="144x144" ></link>
	<link href="theme/img/favicon.114x114.png" rel="apple-touch-icon" type="image/png" sizes="114x114" ></link>
	<link href="theme/img/favicon.72x72.png" rel="apple-touch-icon" type="image/png" sizes="72x72" ></link>
	<link href="theme/img/favicon.57x57.png" rel="apple-touch-icon" type="image/png" ></link>
	<link href="theme/img/favicon.png" rel="icon" type="image/png" ></link>
	<link href="theme/img/favicon.ico" rel="shortcut icon" ></link>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
    <link rel="stylesheet" th:href="@{/theme/css/lib/font-awesome/font-awesome.min.css}" href="theme/css/lib/font-awesome/font-awesome.min.css" ></link>
    <link rel="stylesheet" th:href="@{/theme/css/main.css}" href="theme/css/main.css" ></link>
    <link rel="stylesheet" th:href="@{/theme/css/lib/datatables-net/datatables.min.css}" href="theme/css/lib/datatables-net/datatables.min.css">
    <script th:src="@{/theme/js/lib/jquery/jquery.min.js}" src="theme/js/lib/jquery/jquery.min.js"></script>
    
    <style type="text/css"  th:inline="css">
    	.cat-site-header{
    		background-image: url("[[@{/bg-header-bar.jpg}]]");
    		background-color: #f16e22 !important;
    		background-size:     cover;      
    		background-repeat:   no-repeat;
    	}

		span.require{
			color: red;
		}

		.remove-arrow::after{
			content: none !important;
		}

		.remove-arrow span{
			padding-right:1em;
		}

		button.pull-ok-left{
			position: absolute;
    		margin-left: -175px !important;
		}
    
    </style>
    
<!--     plugin script -->
	<script type="text/javascript" th:src="@{/theme/js/lib/tether/tether.min.js}" src="theme/js/lib/tether/tether.min.js"></script>
	<script type="text/javascript" th:src="@{/theme/js/lib/bootstrap/bootstrap.min.js}" src="theme/js/lib/bootstrap/bootstrap.min.js"></script>
	<script type="text/javascript" th:src="@{/theme/js/app.js}" src="theme/js/app.js"></script>
	<script type="text/javascript" th:src="@{/theme/js/lib/blockUI/jquery.blockUI.js}" src="theme/js/lib/blockUI/jquery.blockUI.js"></script>
	<script type="text/javascript" th:src="@{/theme/js/bootbox.min.js}" src="theme/js/bootbox.min.js"></script>

</head>

<body class="with-side-menu dark-theme dark-theme-blue">
	<form th:action="@{/logout}" method="post" id="formLogout" style="display: none;">
          <input type="submit" value="Sign Out"/>
     </form>
	<header class="site-header cat-site-header">
	    <div class="container-fluid">
	        <!-- <a href="#" th:href="@{/home}" class="site-logo-text" style="background-color: transparent;">Operation Support</a> -->
	         <a href="#" class="site-logo-text" style="background-color: transparent;">
				<img  th:if="${#arrays.contains(@environment.getActiveProfiles(),'ussd')}"  th:src="@{/ussd-logo.png}" src="ussd-logo.png" height="48" width="250" /> 
				<img  th:if="${#arrays.contains(@environment.getActiveProfiles(),'omudb')}"  th:src="@{/omudb-logo.png}" src="omudb-logo.png" height="48" width="250" /> 
				<img  th:if="${#arrays.contains(@environment.getActiveProfiles(),'billing')}"  th:src="@{/billing-logo.png}" src="billing-logo.png" height="48" width="250" />
				<img  th:if="${#arrays.contains(@environment.getActiveProfiles(),'promptpay')}"  th:src="@{/ussd-logo.png}" src="ussd-logo.png" height="48" width="250" />  
			</a> 
			 
	             <button type="button" class="burger-right" style="float: left;top: 10px;">
	                        <i class="font-icon-menu-addl"></i>
	             </button>
	        <div class="site-header-content">
	            <div class="site-header-content-in">
	                <div class="site-header-shown">
	
	
	                    <div class="dropdown user-menu">
	                        <button class="dropdown-toggle remove-arrow" id="dd-user-menu" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	                            <img th:src="@{/theme/img/avatar-sign.png}" src="theme/img/avatar-sign.png" alt="" /> 
	                            <span style="color: white;font-size: 14px;" sec:authentication="principal.fullName" >Admin</span>
	                        </button>
	                    </div>
	                    <div class="dropdown notif">
	                        <a href="javascript:;" onclick="fnLogout()" style="width: 100%;font-size: 100%;color: white;"
	                           class="header-alarm"
	                           id="dd-notification"
	                           data-toggle="dropdown"
	                           aria-haspopup="true"
	                           aria-expanded="false">
	                            <i class="fa fa-sign-out"></i>Log Out
	                        </a>
	                    </div>
	
<!-- 	                    <button type="button" class="burger-right"> -->
<!-- 	                        <i class="font-icon-menu-addl"></i> -->
<!-- 	                    </button> -->
	                </div><!--.site-header-shown-->
	
	                <div class="mobile-menu-right-overlay"></div>
	                <div class="site-header-collapsed" style="width: 80%;">
	                    <div class="site-header-collapsed-in" layout:insert="~{views/baseLayout/menu :: menu}">
	                    	
							<!-- Menu Here in menu.html -->
							<!-- See all in - menu.html -->
	                        
	                    </div><!--.site-header-collapsed-in-->
	                </div><!--.site-header-collapsed-->
	            </div><!--site-header-content-in-->
	        </div><!--.site-header-content-->
	    </div><!--.container-fluid-->
	</header><!--.site-header-->


	<div class="page-content" style="padding-left: 0px;">
		
	    <div class="container-fluid" >	
	    			
			<div th:if="${#session.getAttribute('errorMsg')}" style="background-color:white;" class="alert alert-danger alert-icon alert-close alert-dismissible fade in" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<i class="font-icon font-icon-warning"></i>
					Error : 
					<span th:text="${#session.getAttribute('errorMsg')}"></span>
					<!-- remove message in session -->
					<span th:if="${#session.removeAttribute('errorMsg')}"></span>
			</div>
			
			<div th:if="${#session.getAttribute('okMsg')}" class="alert alert-success alert-fill alert-close alert-dismissible fade in" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<span th:text="${#session.getAttribute('okMsg')}"></span>
				<!-- remove message in session -->
				<span th:if="${#session.removeAttribute('okMsg')}"></span>
			</div>
		
			<div layout:fragment="content"> 
				<p>content from mainLayout.html </p>
			</div>

			<section class="card card-default">
				<div class="card-block text-center">
					<p class="card-text" style="font-size: 14px;">© 2018 CAT TELECOM PUBLIC COMPANY LIMITED. All rights reserved.</p>
				</div>
			</section>
				
	    </div><!--.container-fluid-->
	</div><!--.page-content-->

		
</body>
</html>