<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Menu</title>
</head>

<body>

	<div layout:fragment="menu">

		<div class="dropdown dropdown-typical" th:if="${#arrays.contains(@environment.getActiveProfiles(),'ussd')}">
			<a class="dropdown-toggle" id="dd-header-sales" data-target="#" href="http://example.com" data-toggle="dropdown" aria-haspopup="true"
			 aria-expanded="false">
				<span class="fa fa-phone"></span>
				<span> USSD </span>
			</a>

<!-- 			<div class="dropdown-menu" aria-labelledby="dd-header-sales"> -->
<!-- 				<a class="dropdown-item" href="#" th:href="@{/ussd/os1001/init}"> -->
<!-- 					<span class="font-icon fa fa-clock-o"> </span>ส่วนงานบริหารจัดการข้อมูล USSD</a> -->
<!-- 				<a class="dropdown-item" href="#" th:href="@{/ussd/os1003/init}"> -->
<!-- 					<span class="font-icon fa fa-history"> </span>แสดงประวัติการ ตั้งเวลา/เปิด/ปิด บริการ USSD</a> -->
<!-- 			</div> -->

			<div class="dropdown-menu" aria-labelledby="dd-header-sales">
				<a class="dropdown-item" href="#" th:href="@{/ussd/os1001/init}">
					<span class="font-icon fa fa-clock-o"> </span>ส่วนงานบริหารจัดการข้อมูล USSD</a>
				<a class="dropdown-item" href="#" th:href="@{/ussd/os1003/init}">
					<span class="font-icon fa fa-history"> </span>แสดงประวัติการ ตั้งเวลา/เปิด/ปิด บริการ USSD</a>
				<div class="dropdown-more">
					<div class="dropdown-more-caption padding">PromptPay</div>
					<div class="dropdown-more-sub">
						<div class="dropdown-more-sub-in">
							<a class="dropdown-item" href="#"  th:href="@{/promptpay/report/init}">
								<span class="font-icon fa fa-history"></span>Report</a>
							<a class="dropdown-item" href="#"  th:href="@{/promptpay/refcode/init}">
								<span class="font-icon fa fa-history"></span>Reference Code</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="dropdown dropdown-typical" th:if="${#arrays.contains(@environment.getActiveProfiles(),'promptpay')}">
			<a class="dropdown-toggle" id="dd-header-sales" data-target="#" href="http://example.com" data-toggle="dropdown" aria-haspopup="true"
			 aria-expanded="false">
				<span class="fa fa-phone"></span>
				<span> PROMPTPAY </span>
			</a>
			<div class="dropdown-menu" aria-labelledby="dd-header-sales">
				<a class="dropdown-item" href="#" th:href="@{/promptpay/report/init}">
					<span class="font-icon fa fa-clock-o"> </span>Report</a>
				<a class="dropdown-item" href="#" th:href="@{/promptpay/refcode/init}">
					<span class="font-icon fa fa-history"> </span>Reference Code</a>
			</div>
		</div>

		<div class="dropdown dropdown-typical" th:if="${#arrays.contains(@environment.getActiveProfiles(),'omudb')}">
			<a class="dropdown-toggle" id="dd-header-omudb" data-target="#" href="http://example.com" data-toggle="dropdown" aria-haspopup="true"
			 aria-expanded="false">
				<span class="fa fa-list"></span>
				<span> Order Management </span>
			</a>

			<div class="dropdown-menu" aria-labelledby="dd-header-omudb">
				<a class="dropdown-item" href="#" th:href="@{/omudb/omudb1001/init}">
					<span class="font-icon fa fa-list-ol"> </span>ข้ามสถานะ by Order </a>
				<a class="dropdown-item" href="#" th:href="@{/omudb/omudb2001/init}">
					<span class="font-icon fa fa-list-ul"> </span>ข้ามสถานะ by Service Item</a>
				<a class="dropdown-item" href="#" th:href="@{/omudb/omudb4000/init}">
					<span class="font-icon fa fa-history"> </span>แสดงประวัติการข้ามสถานะ</a>
			</div>
		</div>

		<div class="dropdown dropdown-typical" th:if="${#arrays.contains(@environment.getActiveProfiles(),'omudb')}">
			<a class="dropdown-toggle" id="dd-header-omudb" data-target="#" href="http://example.com" data-toggle="dropdown" aria-haspopup="true"
			 aria-expanded="false">
				<span class="fa fa-users"></span>
				<span> User Management </span>
			</a>

			<div class="dropdown-menu" aria-labelledby="dd-header-omudb">
				<a class="dropdown-item" href="#" th:href="@{/omudb/usermgr/omudb3001/init}">
					<span class="font-icon fa fa-search"> </span> ตรวจสอบข้อมูล User ระบบ OMUDB </a>
				<a class="dropdown-item" href="#" th:href="@{/omudb/usermgr/omudb3002/init}">
					<span class="font-icon fa fa-user-plus"> </span> สร้าง User ระบบ OMUDB </a>
			</div>
		</div>

		<div class="dropdown dropdown-typical" th:if="${#arrays.contains(@environment.getActiveProfiles(),'billing')}">
			<a class="dropdown-toggle" id="dd-header-billing" data-target="#" href="http://example.com" data-toggle="dropdown" aria-haspopup="true"
			 aria-expanded="false">
				<span class="fa fa-users"></span>
				<span style="font-size: 12px;"> ใบแจ้งค่าใช้บริการ </span>
			</a>

			<div class="dropdown-menu" aria-labelledby="dd-header-billing" style="width: 240px;">

				<div class="dropdown-more">
					<div class="dropdown-more-caption padding">รายงานสิ้นเดือน</div>
					<div class="dropdown-more-sub">
						<div class="dropdown-more-sub-in">
							<a class="dropdown-item" href="#"  th:href="@{/bill/bill1000/}">
								<span class="font-icon font-icon-home"></span>รายงานกระทบยอดทางบัญชี</a>
							<a class="dropdown-item" href="#"  th:href="@{/bill/bill1100/}">
								<span class="font-icon font-icon-cart"></span>ข้อมูล Non Payment</a>
						</div>
					</div>
				</div>

				<div class="dropdown-more">
					<div class="dropdown-more-caption padding">ข้อมูล Datawarehouse</div>
					<div class="dropdown-more-sub">
						<div class="dropdown-more-sub-in">
							<a class="dropdown-item" href="#"  th:href="@{/bill/bill2000/}">
								<span class="font-icon font-icon-home"></span>ตรวจสอบข้อมูลความถูกต้องรับชำระ IBACSS</a>
							<a class="dropdown-item" href="#"  th:href="@{/bill/bill2100/}">
								<span class="font-icon font-icon-cart"></span>ตรวจสอบข้อมูลความถูกต้องรับชำระ Out TBOSS </a>
							<a class="dropdown-item" href="#"  th:href="@{/bill/bill2200/}">
								<span class="font-icon font-icon-cart"></span>ตรวจสอบข้อมูลความถูกต้องยกเลิกรับชำระ IBACSS </a>

							<div class="dropdown-more">
								<div class="dropdown-more-caption padding">ตรวจสอบข้อมูลความถูกข้อมูลตั้งหนี้เหลื่อมเดือน IBACSS</div>
								<div class="dropdown-more-sub">
									<div class="dropdown-more-sub-in">
										<a class="dropdown-item" href="#"  th:href="@{/bill/bill3000/}">
											<span class="font-icon font-icon-home"></span>แบบจำนวนเงินไม่ถูกต้อง</a>
										<a class="dropdown-item" href="#"  th:href="@{/bill/bill3100/}">
											<span class="font-icon font-icon-cart"></span>แก้ไขข้อมูลจำนวนเงินบาง เรคคอร์ด หรือให้ลบข้อมูลบาง เรคคอร์ด</a>
									</div>
								</div>
							</div>

							<a class="dropdown-item" href="#"  th:href="@{/bill/bill4000/}">
								<span class="font-icon font-icon-cart"></span>ตรวจสอบข้อมูลความถูกต้อง ข้อมูล Non Payment ของ Out TBOSS </a>


						</div>
					</div>
				</div>

				<a class="dropdown-item" href="#" th:href="@{/bill/bill5000/}">
					<span class="font-icon fa fa-search"> </span> รายการค้างชำระ </a>

			</div>
		</div>


		<div class="dropdown dropdown-typical" th:if="${#arrays.contains(@environment.getActiveProfiles(),'billing')}">
			<a class="dropdown-toggle" id="dd-header-bpm" data-target="#" href="http://example.com" data-toggle="dropdown" aria-haspopup="true"
			 aria-expanded="false">
				<span class="fa fa-list"></span>
				<span style="font-size: 12px;"> Billing </span>
			</a>

			<div class="dropdown-menu" aria-labelledby="dd-header-bpm" style="width: 230px;">
				<a class="dropdown-item" href="#" th:href="@{/bpm/bpm1000/}">
					<span class="font-icon fa fa-list-ol"> </span>ติดตามตรวจสอบ</a>
                
				<a class="dropdown-item" href="#" th:href="@{/bpm/bpm2000/}">
					<span class="font-icon fa fa-list-ol"> </span>การโอนหนี้</a>
                
				<div class="dropdown-more">
                    <div class="dropdown-more-caption padding">Rerate (RAP)</div>
                    <div class="dropdown-more-sub">
                        <div class="dropdown-more-sub-in">
                            <a class="dropdown-item" href="#"  th:href="@{/bpm/bpm3000/}">
								<span class="font-icon font-icon-home"></span>ตรวจสอบ /Session/BA ต้นทางและปลายทาง</a>
							<a class="dropdown-item" href="#"  th:href="@{/bpm/bpm3100/}">
								<span class="font-icon font-icon-cart"></span>ตรวจสอบ Usage (Origin BA)</a>
							<a class="dropdown-item" href="#"  th:href="@{/bpm/bpm3200/}">
								<span class="font-icon font-icon-cart"></span>ตรวจสอบ Usage (Target BA)</a>
                        </div>
                    </div>
                </div>
                
                <div class="dropdown-more">
                    <div class="dropdown-more-caption padding">Suspend</div>
                    <div class="dropdown-more-sub">
                        <div class="dropdown-more-sub-in">
                            <a class="dropdown-item" href="#"  th:href="@{/bpm/bpm4000/}">
								<span class="font-icon font-icon-home"></span>ตรวจสอบรายเบอร์/ราย Service</a>
							<a class="dropdown-item" href="#"  th:href="@{/bpm/bpm4100/}">
								<span class="font-icon font-icon-cart"></span>BA Backdate</a>
                        </div>
                    </div>
                </div>
                
                <div class="dropdown-more">
                    <div class="dropdown-more-caption padding">Mark CDRs</div>
                    <div class="dropdown-more-sub">
                        <div class="dropdown-more-sub-in">
                            <a class="dropdown-item" href="#"  th:href="@{/bpm/bpm5000/}">
								<span class="font-icon font-icon-home"></span>ตรวจสอบ Suspend ตามรายการ</a>
							<a class="dropdown-item" href="#"  th:href="@{/bpm/bpm5100/}">
								<span class="font-icon font-icon-cart"></span>ตรวจสอบ Suspend จากไฟล์</a>
							<a class="dropdown-item" href="#"  th:href="@{/bpm/bpm5200/}">
								<span class="font-icon font-icon-cart"></span>Report Mark Suspend</a>
                        </div>
                    </div>
                </div>
			</div>
		</div>
		
		<div class="dropdown dropdown-typical" th:if="${#arrays.contains(@environment.getActiveProfiles(),'billing')}">
			<a class="dropdown-toggle" id="dd-header-cdr" data-target="#" href="http://example.com" data-toggle="dropdown" aria-haspopup="true"
			 aria-expanded="false">
				<span class="fa fa-list"></span>
				<span style="font-size: 12px;"> Suspend CDR </span>
			</a>

			<div class="dropdown-menu" aria-labelledby="dd-header-cdr">
				<a class="dropdown-item" href="#" th:href="@{/bill/cdr/cdr1000/}">
					<span class="font-icon fa fa-list-ol"> </span>Suspend CDR</a>
			</div>
		</div>
		
		<div class="dropdown dropdown-typical" th:if="${#arrays.contains(@environment.getActiveProfiles(),'billing')}">
			<a class="dropdown-toggle" id="dd-header-nrc" data-target="#" href="http://example.com" data-toggle="dropdown" aria-haspopup="true"
			 aria-expanded="false">
				<span class="fa fa-list"></span>
				<span style="font-size: 12px;"> CMP & NRC </span>
			</a>

			<div class="dropdown-menu" aria-labelledby="dd-header-nrc" style="width: 250px;">
				<div class="dropdown-more">
                    <div class="dropdown-more-caption padding">Add Discount</div>
                    <div class="dropdown-more-sub">
                        <div class="dropdown-more-sub-in">
                            <a class="dropdown-item" href="#"  th:href="@{/bill/nrc/nrc1000/}">
								<span class="font-icon font-icon-home"></span>Upload Data</a>
							<a class="dropdown-item" href="#"  th:href="@{/bill/nrc/nrc1100/}">
								<span class="font-icon font-icon-cart"></span>Inquire Batch</a>
							<a class="dropdown-item" href="#"  th:href="@{/bill/nrc/nrc1200/}">
								<span class="font-icon font-icon-cart"></span>Add Discount</a>
							<a class="dropdown-item" href="#"  th:href="@{/bill/nrc/nrc1300/}">
								<span class="font-icon font-icon-cart"></span>Check Discount</a>
                        </div>
                    </div>
                </div>
                
                <div class="dropdown-more">
                    <div class="dropdown-more-caption padding">Add Component</div>
                    <div class="dropdown-more-sub">
                        <div class="dropdown-more-sub-in">
                            <a class="dropdown-item" href="#"  th:href="@{/bill/nrc/nrc2000/}">
								<span class="font-icon font-icon-home"></span>Upload Data</a>
							<a class="dropdown-item" href="#"  th:href="@{/bill/nrc/nrc2100/}">
								<span class="font-icon font-icon-cart"></span>Inquire Batch</a>
							<a class="dropdown-item" href="#"  th:href="@{/bill/nrc/nrc2200/}">
								<span class="font-icon font-icon-cart"></span>Add Component</a>
							<a class="dropdown-item" href="#"  th:href="@{/bill/nrc/nrc2300/}">
								<span class="font-icon font-icon-cart"></span>Check Component</a>
                        </div>
                    </div>
                </div>
                
                <div class="dropdown-more">
                    <div class="dropdown-more-caption padding">Add NRC</div>
                    <div class="dropdown-more-sub">
                        <div class="dropdown-more-sub-in">
                            <a class="dropdown-item" href="#"  th:href="@{/bill/nrc/nrc3000/}">
								<span class="font-icon font-icon-home"></span>Find External ID Type</a>
							<a class="dropdown-item" href="#"  th:href="@{/bill/nrc/nrc3100/}">
								<span class="font-icon font-icon-cart"></span>Find NRC ID</a>
							<a class="dropdown-item" href="#"  th:href="@{/bill/nrc/nrc3200/}">
								<span class="font-icon font-icon-cart"></span>Upload Data</a>
							<a class="dropdown-item" href="#"  th:href="@{/bill/nrc/nrc3300/}">
								<span class="font-icon font-icon-cart"></span>Prepare Data</a>
							<a class="dropdown-item" href="#"  th:href="@{/bill/nrc/nrc3400/}">
								<span class="font-icon font-icon-cart"></span>Add NRC</a>
							<a class="dropdown-item" href="#"  th:href="@{/bill/nrc/nrc3500/}">
								<span class="font-icon font-icon-cart"></span>Check NRC</a>
                        </div>
                    </div>
                </div>
			</div>
		</div>
		
		<div class="dropdown dropdown-typical" th:if="${#arrays.contains(@environment.getActiveProfiles(),'billing')}">
			<a class="dropdown-toggle" id="dd-header-ibacc" data-target="#" href="http://example.com" data-toggle="dropdown" aria-haspopup="true"
			 aria-expanded="false">
				<span class="fa fa-list"></span>
				<span style="font-size: 12px;"> IBACC & Web Base </span>
			</a>
			
			<div class="dropdown-menu" aria-labelledby="dd-header-ibacc">
				<a class="dropdown-item" href="#" >
					<span class="font-icon fa fa-list-ol"> </span>สถานะ IBACC & Web Base</a>
			</div>
		</div>
		<div class="dropdown dropdown-typical" th:if="${#arrays.contains(@environment.getActiveProfiles(),'billing')}">
			<a class="dropdown-toggle" id="dd-header-reconcile" data-target="#" href="http://example.com" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false" >
				<span class="fa fa-list"></span>
				<span style="font-size: 12px;">ตรวจสอบหนี้ข้อมูลระหว่าง IBACC กับ  Web Base </span>
			</a>
			<div class="dropdown-menu" aria-labelledby="dd-header-reconcile ">
				<a class="dropdown-item" href="#"  th:href="@{/reconcile/debt/}">
					<span class="font-icon fa fa-list-ol"> </span>ตรวจสอบหนี้ข้อมูล</a>
				<a class="dropdown-item" href="#" th:href="@{/reconcile/bill/}">
					<span class="font-icon fa fa-list-ol"> </span>ค้นหาข้อมูล Bill order number</a>
			</div>
		</div>
		
		<div class="dropdown dropdown-typical" th:if="${1==2}">
			<a class="dropdown-toggle" id="dd-header-marketing" data-target="#" href="http://example.com" data-toggle="dropdown" aria-haspopup="true"
			 aria-expanded="false">
				<span class="fa fa-cog"></span>
				<span>Configuration</span>
			</a>

			<div class="dropdown-menu" aria-labelledby="dd-header-marketing">
				<a class="dropdown-item" href="#" th:href="@{/admin/currentSearch}">Current Search</a>
				<a class="dropdown-item" href="#">Search for Issues</a>
				<div class="dropdown-divider"></div>
				<div class="dropdown-header">Recent issues</div>
				<a class="dropdown-item" href="#">
					<span class="font-icon font-icon-home"></span>Quant and Verbal</a>
				<a class="dropdown-item" href="#">
					<span class="font-icon font-icon-cart"></span>Real Gmat Test</a>
				<a class="dropdown-item" href="#">
					<span class="font-icon font-icon-speed"></span>Prep Official App</a>
				<a class="dropdown-item" href="#">
					<span class="font-icon font-icon-users"></span>CATprer Test</a>
				<a class="dropdown-item" href="#">
					<span class="font-icon font-icon-comments"></span>Third Party Test</a>
				<div class="dropdown-more">
					<div class="dropdown-more-caption padding">more...</div>
					<div class="dropdown-more-sub">
						<div class="dropdown-more-sub-in">
							<a class="dropdown-item" href="#">
								<span class="font-icon font-icon-home"></span>Quant and Verbal</a>
							<a class="dropdown-item" href="#">
								<span class="font-icon font-icon-cart"></span>Real Gmat Test</a>
							<a class="dropdown-item" href="#">
								<span class="font-icon font-icon-speed"></span>Prep Official App</a>
							<a class="dropdown-item" href="#">
								<span class="font-icon font-icon-users"></span>CATprer Test</a>
							<a class="dropdown-item" href="#">
								<span class="font-icon font-icon-comments"></span>Third Party Test</a>
						</div>
					</div>
				</div>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="#">Import Issues from CSV</a>
				<div class="dropdown-divider"></div>
				<div class="dropdown-header">Filters</div>
				<a class="dropdown-item" href="#">My Open Issues</a>
				<a class="dropdown-item" href="#">Reported by Me</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="#">Manage filters</a>
				<div class="dropdown-divider"></div>
				<div class="dropdown-header">Timesheet</div>
				<a class="dropdown-item" href="#">Subscribtions</a>
			</div>
		</div>

	</div>
</body>

</html>