<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{views/baseLayout/mainLayout}">

<head>
	<title>ตรวจสอบความถูกต้อง Non Payment ของ Out TBOSS</title>
	<link rel="stylesheet" th:href="@{/jquery-ui-1.12.1.custom/jquery-ui.min.css}" href="/jquery-ui-1.12.1.custom/jquery-ui.min.css"></link>
	<script src="jquery-ui-1.12.1.custom/jquery-ui.min.js" th:src="@{/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
	<script th:src="@{/theme/js/lib/datatables-net/datatables.min.js}" src="theme/js/lib/datatables-net/datatables.min.js"></script>
	<script th:src="@{/js/billing/bill4000.js}" src="bill4000.js"></script>
</head>

<body>
	<div layout:fragment="content">

		<ol class="breadcrumb" style="background-color: white;">
			<li class="active">
				<a href="#"> หน้าแรก </a>
			</li>
			<li class="active">
				<a href="#"> สนับสนุนการจัดทำใบแจ้งค่าบริการ </a>
			</li>
			<li class="active">
				<a href="#"> ข้อมูล Datawarehouse </a>
			</li>
			<li class="active">ตรวจสอบความถูกต้อง Non Payment ของ Out TBOSS</li>
		</ol>
		<section class="card">
			<header class="card-header card-header-lg">
				ตรวจสอบความถูกต้อง Non Payment ของ Out TBOSS
			</header>
			<div class="card-block" style="padding-left: 30%; padding-right: 20%;">

			</div>
			<div class="card-block">

				 <table id="bill4000Table" class="display table table-striped table-bordered" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th class="text-center">BA</th>
							<th class="text-center">Invoice No</th>
							<th class="text-center">Amt_original</th>
							<th class="text-center">Amt_product</th>
							<th class="text-center">Diff</th>
						</tr>
					</thead>
				</table>


			</div>
		</section>

	</div>
</body>

</html>