<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{views/baseLayout/mainLayout}">

<head>
	<title>ตรวจสอบความถูกต้องข้อมูลยกเลิกรับชำระ IBACSS</title>
	<link rel="stylesheet" th:href="@{/jquery-ui-1.12.1.custom/jquery-ui.min.css}" href="/jquery-ui-1.12.1.custom/jquery-ui.min.css"></link>
	<script src="jquery-ui-1.12.1.custom/jquery-ui.min.js" th:src="@{/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
	<script th:src="@{/theme/js/lib/datatables-net/datatables.min.js}" src="theme/js/lib/datatables-net/datatables.min.js"></script>
	<script th:src="@{/js/billing/bill2200.js}" src="bill2200.js"></script>
</head>

<body>
	<div layout:fragment="content">

		<ol class="breadcrumb" style="background-color: white;">
			<li class="active">
				<a href="#"> หน้าแรก </a>
			</li>
			<li class="active">
				<a href="#"> สนับสนุนการจัดทำใบแจ้งค่าบริการ </a>
			</li>
			<li class="active">
				<a href="#"> ข้อมูล Datawarehouse </a>
			</li>
			<li class="active">ตรวจสอบความถูกต้องข้อมูลยกเลิกรับชำระ IBACSS</li>
		</ol>

		

		<section class="card">
			<header class="card-header card-header-lg">
				ตรวจสอบความถูกต้องข้อมูลยกเลิกรับชำระ IBACSS
			</header>
			<div class="card-block" style="padding-left: 25%; padding-right: 20%;">
				<form>
					<div class="form-group row">
						<label class="col-sm-1 form-control-label">วันที่</label>
						<div class="col-sm-4">
							<div class="input-group">
								<input type="text" class="form-control" id="inputDateFrom"  onchange="bill2200.onChangeDateFrom();">
								<div class="input-group-addon">
									<span class="fa fa-calendar"></span>
								</div>
							</div>
						</div>
						<label class="col-sm-1 form-control-label">ถึง</label>
						<div class="col-sm-4">
							<div class="input-group">
								<input type="text" class="form-control" id="inputDateTo"  onchange="bill2200.onChangeDateTo();">
								<div class="input-group-addon">
									<span class="fa fa-calendar"></span>
								</div>
							</div>
						</div>
					</div>

					<div class="form-group row">
						<div class="col-sm-12 text-center">
							<button type="button" class="btn btn-inline btn-primary" onclick="bill2200.onClickSearch();">ตกลง</button>

							<button type="button" class="btn btn-inline btn-default" onclick="bill2200.onClickClearData();">ยกเลิก</button>
						</div>
					</div>
				</form>
			</div>
			<div class="card-block">

				 <table id="bill2200Table" class="display table table-striped table-bordered" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th class="text-center">BA</th>
							<th class="text-center">Invoice No</th>
							<th class="text-center">Period</th>
							<th class="text-center">Amt_original</th>
							<th class="text-center">Amt_product</th>
							<th class="text-center">Diff</th>
						</tr>
					</thead>
				</table>


			</div>
		</section>
		

	</div>
</body>

</html>