<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" 	layout:decorate="~{views/baseLayout/mainLayout}">
<head>
<title>รายงานกระทบยอดทางภาษี</title>
<link rel="stylesheet" th:href="@{/jquery-ui-1.12.1.custom/jquery-ui.min.css}" href="/jquery-ui-1.12.1.custom/jquery-ui.min.css"></link>
	<script src="jquery-ui-1.12.1.custom/jquery-ui.min.js" th:src="@{/jquery-ui-1.12.1.custom/jquery-ui.min.js}"></script>
<script th:src="@{/theme/js/lib/datatables-net/datatables.min.js}"	src="theme/js/lib/datatables-net/datatables.min.js"></script>
<script th:src="@{/js/billing/bill1100.js}" src="bill1100.js"></script>
</head>

<body>
	<div layout:fragment="content">

		<ol class="breadcrumb" style="background-color: white;">
			<li class="active"><a href="#"> หน้าแรก </a></li>
			<li class="active"><a href="#">สนับสนุนการจัดทำใบแจ้งค่าบริการ </a></li>
			<li class="active"><a href="#">รายงานสิ้นเดือน </a></li>
			<li class="active"> ข้อมูล Non payment</li>
		</ol>


		<section class="card">
			<header class="card-header card-header-lg">รายงานข้อมูล Non payment</header>
			
			<div class="card-block">
				
				<table id="bill1100Table" class="table table-striped table-bordered" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th class="text-center" >BA </th>
							<th class="text-center">Invoice No.</th>
							<th style="text-align: center !important"> Amt_original</th>
							<th  style="text-align: center !important">Amt_product</th>
							<th  style="text-align: center !important">Diff</th>
						</tr>
						
					</thead>
					<tbody>
					</tbody>
				</table>


			</div>
		</section>
		




	</div>




</body>

</html>