<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{views/baseLayout/mainLayout}">
<head>
	<title>Current Search</title>
	<script th:src="@{/theme/js/lib/datatables-net/datatables.min.js}" src="theme/js/lib/datatables-net/datatables.min.js"></script>
    <script th:src="@{/js/admin/currentSearch/currentSearch.js}" src="currentSearch.js"></script>
</head>
<body>
	<div layout:fragment="content">
	
		<ol class="breadcrumb" style="background-color: white;">
					<li class="active"><a href="#">Configuration </a> </li>
					<li class="active">Current Search</li>
		</ol>
		<section class="card">
<!-- 			<header class="card-header card-header-lg"> -->
<!-- 				Current Search -->
<!-- 			</header> -->
			<div class="card-block">
				
				<a class="btn btn-inline btn-primary btn-sm ladda-button" data-style="expand-right" data-size="s" href="#" 
					th:href="@{/admin/currentSearch/edit}" >
					<span class="ladda-label">Add</span>
				</a>
			
				<table id="example" class="display table table-striped table-bordered" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th>No.</th>
							<th>Role Code</th>
							<th>Role Desc</th>
							<th>Action</th>
						</tr>
					</thead>
				</table>
										
			
			</div>
		</section>
		
	</div>
</body>
</html>