<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head lang="en">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Login</title>
	<link href="theme/img/favicon.144x144.png" rel="apple-touch-icon" type="image/png" sizes="144x144">
	<link href="theme/img/favicon.114x114.png" rel="apple-touch-icon" type="image/png" sizes="114x114">
	<link href="theme/img/favicon.72x72.png" rel="apple-touch-icon" type="image/png" sizes="72x72">
	<link href="theme/img/favicon.57x57.png" rel="apple-touch-icon" type="image/png">
	<link href="theme/img/favicon.png" rel="icon" type="image/png">
	<link href="theme/img/favicon.ico" rel="shortcut icon">
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
    <link rel="stylesheet" th:href="@{/theme/css/lib/font-awesome/font-awesome.min.css}" href="css/lib/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/theme/css/main.css}"  href="css/main.css">
</head>
<body style="background: #f26e23;">
	
	<div class="page-center">
        <div class="page-center-in">
            <div class="container-fluid">
            
                <form class="sign-box" th:action="@{/login}" method="post">
                    <div class="sign-avatar">
                        <img  th:src="@{/theme/img/logo-login.jpg}" src="img/avatar-sign.png" alt="">
                    </div>
					<header class="sign-title">Operation Support</header>
					
					<p class="sign-note" th:if="${#arrays.contains(@environment.getActiveProfiles(),'ussd')}" >
							<span>	 ส่วนงานบริหารจัดการข้อมูล USSD </span>
					</p>

                    <div th:if="${param.error}" class="sign-note alert alert-danger alert-icon alert-close alert-dismissible fade in" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<i class="font-icon font-icon-warning"></i>
							ชื่อผู้ใช้งานหรือรหัสผ่านไม่ถูกต้อง
					</div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Username" name="username" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" name="password" />
                    </div>
                    <button type="submit" class="btn btn-rounded">เข้าสู่ระบบ</button>
                    <!--<button type="button" class="close">
                        <span aria-hidden="true">&times;</span>
                    </button>-->
                </form>
            </div>
        </div>
    </div><!--.page-center-->
    
    <script th:src="@{/theme/js/lib/jquery/jquery.min.js}" src="js/lib/jquery/jquery.min.js"></script>
	<script th:src="@{/theme/js/lib/tether/tether.min.js}" src="js/lib/tether/tether.min.js"></script>
	<script th:src="@{/theme/js/lib/bootstrap/bootstrap.min.js}" src="js/lib/bootstrap/bootstrap.min.js"></script>
	<script th:src="@{/theme/js/plugins.js}" src="js/plugins.js"></script>
<!-- <script src="js/app.js"></script> -->
<script type="text/javascript">
	
	$(document).ready(function(){
		$('.page-center').matchHeight({
			target: $('html')
		});

		$(window).resize(function(){
			setTimeout(function(){
				$('.page-center').matchHeight({ remove: true });
				$('.page-center').matchHeight({
					target: $('html')
				});
			},100);
		});
	});

</script>
</body>
</html>